@import './sass';

.m78 {
  // 常规单位尺寸
  --m78-unit-size-sm: 24px;
  --m78-unit-size: 32px;
  --m78-unit-size-lg: 40px;
  --m78-unit-size-big: 60px;

  // 对于大部分表单和交互控件的最大宽度
  --m78-unit-hor-size-sm: 240px;
  --m78-unit-hor-size: 320px;
  --m78-unit-hor-size-lg: 400px;
}

.m78-icon {
  display: inline-block;
  // 实际使用中发现, 因为图标普遍小于文本, 并且细节比文本更多, 将其放大一定比例会更好, 否则基本每次使用都会单独再将其通过样式放大
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
  vertical-align: middle;
  line-height: 1;
}

/*  ============= 所有组件共享的样式 ============= */
@media (min-width: 576px) {
  .m78-scroll-bar {
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: var(--m78-color-second);
      min-height: 70px;
      min-width: 70px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--m78-color-primary);
    }

    ::-webkit-scrollbar-thumb:active {
      background: var(--m78-color-primary);
    }
  }
}

/* 滚动条尺寸大于10时启用 */
.m78-scrollbar {
  &::-webkit-scrollbar {
    position: relative;
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--m78-color-disable);
    min-height: 70px;
    min-width: 70px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--m78-color-second);
  }

  &::-webkit-scrollbar-thumb:active {
    background: var(--m78-color-primary);
  }

  &.__hover {
    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
}
