@import "./sass";

.m78 {
  // 常规单位尺寸
  --m78-unit-size-sm: 24px;
  --m78-unit-size: 32px;
  --m78-unit-size-lg: 40px;
  --m78-unit-size-big: 60px;

  // 对于大部分表单和交互控件的最大宽度
  --m78-unit-hor-size-sm: 240px;
  --m78-unit-hor-size: 320px;
  --m78-unit-hor-size-lg: 400px;
}

// 在某些节点需要阻止浏览器的滚动/上下文菜单等行为
.m78-touch-prevent {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

// 图标
.m78-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  vertical-align: middle;

  &.__spin svg {
    animation: m78-icon-spin 1s infinite linear;
  }
}

// 插图
:root[data-mode="dark"] .m78-illustration {
  filter: drop-shadow(0px 0px 1px #fff);
}

@keyframes m78-icon-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes m78-icon-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*  ============= 所有组件共享的样式 ============= */
@media (min-width: 576px) {
  .m78-scroll-bar {
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: var(--m78-color-second);
      min-height: 70px;
      min-width: 70px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--m78-color-primary);
    }

    ::-webkit-scrollbar-thumb:active {
      background: var(--m78-color-primary);
    }
  }
}

/* 滚动条尺寸大于10时启用 */
//.m78-scrollbar {
//  &::-webkit-scrollbar {
//    position: relative;
//    width: 7px;
//    height: 7px;
//    background-color: rgba(0, 0, 0, 0.1);
//    border-radius: 4px;
//  }
//
//  &::-webkit-scrollbar-thumb {
//    border-radius: 4px;
//    background: var(--m78-color-disable);
//    min-height: 70px;
//    min-width: 70px;
//  }
//
//  &::-webkit-scrollbar-corner {
//    background-color: transparent;
//  }
//
//  &::-webkit-scrollbar-thumb:hover {
//    background: var(--m78-color-second);
//  }
//
//  &::-webkit-scrollbar-thumb:active {
//    background: var(--m78-color-primary);
//  }
//
//  &.__hover {
//    &::-webkit-scrollbar {
//      display: none;
//    }
//
//    &:hover {
//      &::-webkit-scrollbar {
//        display: block;
//      }
//    }
//  }
//}
