@import '../../style/index';

.m78-carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  touch-action: none;

  &.__vertical {
    .m78-carousel_wrap {
      flex-direction: column;
    }

    // 防止内容被优化卸载后高度为0
    .m78-carousel_item {
      flex: 1 0 auto;
      width: 100%;
      height: 100%;
    }

    .m78-carousel_ctrl {
      right: 12px;
      top: 50%;
      bottom: auto;
      left: auto;
      width: 24px;
      transform: translate(0, -50%);
      line-height: 0.8;
      text-align: right;
    }

    .m78-carousel_ctrl-item {
      margin: 0 0;

      &::after {
        right: 0;
        width: 200%;
        height: 400%;
      }
    }
  }

  &_wrap {
    display: flex;
    position: relative;
    will-change: transform;
  }

  &_item {
    flex: 1 0 100%;
    user-select: none;
    will-change: transform;
    box-shadow: $shadow-2;
    overflow: hidden;
  }

  &_ctrl {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }

  &_ctrl-item {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 3px;
    background-color: $w-disable;
    margin: 0 3px;
    cursor: pointer;
    transition: 0.3s;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 500%;
      transform: translateY(-50%);
    }

    &.__active {
      background-color: $w-title;
      width: 24px;
    }
  }

  &_ctrl-text {
    color: #fff;
    user-select: none;
    white-space: nowrap;
    font-weight: bold;
  }
}
