@import '../../style/index';

.m78-message {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: var(--m78-z-index-message);
  line-height: 1;

  &_cont {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 86vw;
    max-width: 360px; // 兼容PC
    //pointer-events: none;
  }

  &_item {
    padding: 0 6px;
    margin: 0 auto;
    font-size: var(--m78-fs);
    overflow: hidden;
    width: auto;
    line-height: 1;
  }

  &_item-cont {
    user-select: none;
    pointer-events: all;
    position: relative;
    background: var(--m78-component-bg);
    padding: 10px 26px;
    display: inline-block;
    border-radius: var(--m78-border-radius);
    box-shadow: var(--m78-shadow-1-b-focus);
    word-break: break-all;
    overflow: hidden;
    color: var(--m78-color-primary);
    margin: 2px 0;
    border: 1px solid var(--m78-color-border);

    &.__loading {
      padding: 12px 16px;
      //height: 82px;
    }

    &.__notification {
      .m78-message_icon {
        font-size: 80px;
      }

      width: 320px;
      padding: 24px;
      user-select: auto;
      pointer-events: auto;
    }
  }

  &_process {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 3px;
    background-color: var(--m78-color-border-b);
    //transform: scaleY(0.8);
    //border-bottom: 1px var(--m78-color-second) solid;
  }

  &_icon {
    font-size: 56px;
    vertical-align: middle;
    margin-bottom: 8px;
    line-height: 1;
  }

  &_loading {
    display: inline-block;

    .m78-spin {
      font-size: 24px;
      vertical-align: middle;
    }

    & + span {
      vertical-align: sub;
    }
  }

  &_close {
    position: absolute !important;
    right: 6px;
    top: 6px;
    cursor: pointer;
    font-size: var(--m78-fs-sm) !important;
    &:hover {
      font-weight: var(fw);
    }
  }

  &_notification {
    &_title {
      font-size: var(--m78-fs-lg);
      //font-weight: bold;
      margin-bottom: 8px;
      color: var(--m78-color-title);
    }

    &_desc {
      color: var(--m78-color-second);
      line-height: var(--m78-line-height);
    }

    &_foot {
      text-align: center;
      margin-bottom: -8px;
      margin-top: 12px;

      .m78-btn + .m78-btn {
        margin-left: 16px;
      }
    }
  }
}
