@import "../../style/index";

.fr-sfm {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-index;
  pointer-events: none;
  @include full;

  .fr-mask {
    pointer-events: auto;
  }

  &_cont {
    pointer-events: auto;
    z-index: $z-index-modal;
  }
}

