@import '../../style/index';

.m78-sfm {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  //z-index: $z-index;
  pointer-events: none;
  @include full;

  .m78-mask {
    pointer-events: auto;
  }

  &_cont {
    pointer-events: auto;
    z-index: $z-index-modal;
  }
}
