@import '../../common/style/sass';

.m78-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;

  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;
    //touch-action: none;
    box-shadow: 0 0 4px var(--m78-color-divider);
  }

  &_wrap {
    position: absolute !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
  }

  &_progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--m78-color);
    border-radius: 12px;

    &.__left {
      width: 3px;
      height: 0;
    }
  }

  &_scroll-flag {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 12px;
    background: linear-gradient(to left, var(--m78-color-border), transparent);
    pointer-events: none;
    border-radius: 0 0 4px 4px;

    &.__start {
      left: 0;
      right: auto;
      transform: rotate(180deg);
    }

    &.__isVertical {
      left: 0;
      right: 0;
      width: auto;
      height: 12px;
      background: linear-gradient(to top, var(--m78-color-border), transparent);
      bottom: 0;
      top: auto;

      &.__start {
        top: 0;
        bottom: auto;
      }
    }
  }

  &_pulldown {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 12px;
    position: absolute;
    height: 110px;
    width: 100%;
    top: -110px;
    left: 0;

    &-wrap {
      line-height: 1.2;
      text-align: center;
    }

    &-icon {
      display: inline-block;
      font-size: 34px;
      line-height: 0;
      text-align: center;
    }

    &-text {
      display: block;
      text-align: center;
      margin-top: 4px;
      color: var(--m78-color-second);
      font-size: 13px;
    }
  }

  &_pullup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    &-text {
      display: flex;
      align-items: center;
      font-size: 13px;
      color: var(--m78-color-second);

      .m78-btn {
        top: -1px;
      }
    }
  }

  &_empty-nodata {
    .m78-btn {
      top: -1px;
    }
  }
}
