@import '../../style/index';

.m78-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  user-select: none;
  background: linear-gradient(to bottom, pink 120px, transparent) no-repeat top/100% 80px;

  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    //overflow: hidden;
    will-change: transform;
    touch-action: none;
  }

  &_wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    white-space: nowrap;
  }
}
