@import '../../style/index';

.m78-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: #f6f6f6;
  overflow: hidden;
  //background:
  //    linear-gradient(to bottom, pink 120px, transparent) no-repeat top/100% 80px,
  //    linear-gradient(to top, pink 120px, transparent) no-repeat bottom/100% 80px,
  //    linear-gradient(to left, pink 120px, transparent) no-repeat left/80px 100%,
  //    linear-gradient(to right, pink 120px, transparent) no-repeat right/80px 100%;

  &.__hideScrollBar {
    .m78-scroller_inner {
      overflow: hidden;
    }
  }

  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;
    touch-action: none;
    background-color: $component-background;
    box-shadow: 0 0 4px $b-divider;
  }

  &_wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling:touch;
  }

  &_progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $color;
    border-radius: 12px;

    &.__left {
      width: 3px;
      height: 0;
    }
  }

  &_scroll-flag {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 12px;
    background: linear-gradient(to left, $b-border, transparent);
    pointer-events: none;

    &.__start {
      left: 0;
      right: auto;
      transform: rotate(180deg);
    }

    &.__isVertical {
      left: 0;
      right: 0;
      width: auto;
      height: 12px;
      background: linear-gradient(to top, $b-border, transparent);
      bottom: 0;
      top: auto;

      &.__start {
        top: 0;
        bottom: auto;
      }
    }
  }

  &_pulldown {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 12px;
    position: absolute;
    height: 110px;
    width: 100%;
    top: -110px;
    left: 0;

    &-wrap {
      line-height: 1.2;
      text-align: center;
    }

    &-icon {
      display: inline-block;
      font-size: 34px;
      line-height: 0;
      text-align: center;
    }

    &-text {
      display: block;
      text-align: center;
      margin-top: 4px;
      color: $b-second;
      font-size: 14px;
    }
  }

  &_pullup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    &-text {
      font-size: 14px;
      color: $b-second;
    }
  }
}
