@import '../../common/style/sass';

.m78-error-boundary {
  padding: 12px;
  font-size: 14px;
  color: var(--m78-color-primary);
  background-color: var(--m78-body-bg);

  &_title {
    font-size: 16px;
    font-weight: bold;
    color: var(--m78-color-error);
    margin-bottom: 4px;
  }

  &_pre {
    color: #ff4d4f;
    white-space: pre-wrap;
    max-height: 200px;
  }
}
