@import '../../common/style/sass';

.m78-fork {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  min-width: 200px;
  padding: 12px;

  &_notice {
    width: 100%;
  }
}
