@import "../../style/index";

.fr-picture {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;

  >img, >canvas {
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}