@import '../../style/index';

.m78-picture {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;

  > img,
  > canvas {
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &_placeholder {
    width: 100%;
    height: 100%;
    background-color: var(--m78-color-disable);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}
