@import '../../style/index';

.m78-grid {

  &_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: $b-border;
    border-color: currentColor;
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;
    border-left-color: transparent;
    overflow: hidden;

    &.__topBorder {
      border-top-color: currentColor;
    }

    &.__leftBorder {
      border-left-color: currentColor;
    }

  }

  &_cont {
    position: absolute;
    z-index: 1;
    color: $b-primary;
    @include full;
  }

  &_scaffold {
    float: left;
    padding-top: 100%;
    visibility: hidden;
  }
}
