@import '../../style/index';

@media (max-width: 576px) {
  // 增加优先级
  .m78-popper {
    .m78-popper_tooltip {
      max-width: 66vw;
    }

    .m78-popper_confirm {
      max-width: 76vw;
    }

    .m78-popper_study {
      max-width: 90vw;
    }
  }
}

.m78-popper {
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 2px;
  z-index: var(--m78-z-index-message);
  will-change: auto;
  max-width: 90vw;
  max-height: 90vh;
  line-height: var(--m78-line-height);
  font-size: 14px;
  //overflow: auto;

  &_content {
    border-radius: var(--m78-border-radius);
    height: 100%;
    width: 100%;
    overflow: auto;
    min-width: 80px;
    min-height: 30px;
    z-index: 100;
    background-color: var(--m78-component-bg);
    box-shadow: var(--m78-shadow-1-b);
    border: 1px solid var(--m78-color-border);
  }

  &_tooltip {
    padding: 6px 12px;
    background-color: var(--m78-gray-9);
    color: #fff;
    text-align: center;
    max-width: 220px;
    box-shadow: var(--m78-shadow-1-b-focus);

    & + .m78-popper_arrow {
      background-color: var(--m78-gray-9);
    }
  }

  // popper不限制宽度，由用户控制
  &_popper {
    border-radius: var(--m78-border-radius-md);
    //box-shadow: var(--m78-shadow-1);
    //border: 1px solid var(--m78-color-border);

    &-title {
      padding: 4px 12px;
      border-bottom: 1px solid var(--m78-color-border);
      font-weight: 600;
    }

    &-content {
      padding: 8px 12px;
      min-width: 140px;
    }
  }

  &_confirm {
    border-radius: var(--m78-border-radius-md);
    //box-shadow: var(--m78-shadow-1);
    //border: 1px solid var(--m78-color-border);
    padding: 12px;
    max-width: 300px;

    &-icon {
      float: left;
      margin-right: 8px;
      left: 12px;
      top: 12px;
      margin-top: -7px;
      font-size: 22px;
    }

    &-btns {
      text-align: right;
      margin-top: 8px;
    }
  }

  &_study {
    background-color: rgb(0, 120, 212);
    color: #fff;
    padding: 16px;
    width: 360px;

    &-title {
      font-size: 18px;
      margin-bottom: 8px;
    }

    &-img {
      margin: -16px -16px 16px -16px;
      display: block !important;
      border-radius: 2px;
    }

    &-btn-box {
      text-align: right;
      margin-top: 12px;
    }

    &-page {
      float: left;
      margin-top: 4px;
      letter-spacing: 2px;
      color: rgba(255, 255, 255, 0.95);
    }

    & + .m78-popper_arrow {
      background-color: rgb(0, 120, 212);
    }
  }

  &.__top {
    transform-origin: center bottom;
  }

  &.__topStart {
    transform-origin: left bottom;
  }

  &.__topEnd {
    transform-origin: right bottom;
  }

  &.__left {
    transform-origin: right center;
  }

  &.__leftStart {
    transform-origin: top right;
  }

  &.__leftEnd {
    transform-origin: bottom right;
  }

  &.__right {
    transform-origin: left center;
  }

  &.__rightStart {
    transform-origin: top left;
  }

  &.__rightEnd {
    transform-origin: bottom left;
  }

  &.__bottom {
    transform-origin: center top;
  }

  &.__bottomStart {
    transform-origin: left top;
  }

  &.__bottomEnd {
    transform-origin: right top;
  }

  &_arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--m78-component-bg);
    border-radius: 1px;
    border: 1px solid var(--m78-color-border);
    //z-index: -1;

    &.__top,
    &.__topStart,
    &.__topEnd {
      box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.14);
      bottom: -4px;
      border-left: none;
      border-top: none;
    }

    &.__bottom,
    &.__bottomStart,
    &.__bottomEnd {
      box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
      top: -4px;
      border-right: none;
      border-bottom: none;
    }

    &.__right,
    &.__rightStart,
    &.__rightEnd {
      box-shadow: -2px 0 2px rgba(0, 0, 0, 0.14);
      left: -4px;
      border-right: none;
      border-bottom: none;
    }

    &.__left,
    &.__leftStart,
    &.__leftEnd {
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.14);
      right: -4px;
      border-left: none;
      border-top: none;
    }

    &.__top,
    &.__bottom {
      transform: translate(-50%, 0) rotate(45deg);
      left: 50%;
    }

    &.__topStart,
    &.__bottomStart {
      transform: rotate(45deg);
      left: 16px;
    }

    &.__topEnd,
    &.__bottomEnd {
      transform: rotate(45deg);
      right: 16px;
    }

    &.__right,
    &.__left {
      transform: translate(0, -50%) rotate(-45deg);
      top: 50%;
    }

    &.__rightStart,
    &.__leftStart {
      transform: rotate(-45deg);
      top: 16px;
    }

    &.__rightEnd,
    &.__leftEnd {
      transform: rotate(-45deg);
      bottom: 16px;
    }
  }
}
