@import '../../style/index';

.wrap {
  position: relative;
  height: 400px;
  width: 400px;
  border: 1px dashed #ccc;
  overflow: auto;
}

.inner {
  width: 2000px;
  height: 2000px;
}


.fr-popper {
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 2px;
  text-align: center;
  box-shadow: $shadow-2;
  z-index: $z-index-message;
  will-change: auto;
  max-width: 90vw;
  max-height: 90vh;

  &_content {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    padding: 6px 12px;
  }

  &.__top {
    transform-origin: center bottom;
  }

  &.__topStart {
    transform-origin: left bottom;
  }

  &.__topEnd {
    transform-origin: right bottom;
  }

  &.__left {
    transform-origin: right center;
  }

  &.__leftStart {
    transform-origin: top right;
  }

  &.__leftEnd {
    transform-origin: bottom right;
  }

  &.__right {
    transform-origin: left center;
  }

  &.__rightStart {
    transform-origin: top left;
  }

  &.__rightEnd {
    transform-origin: bottom left;
  }

  &.__bottom {
    transform-origin: center top;
  }

  &.__bottomStart {
    transform-origin: left top;
  }

  &.__bottomEnd {
    transform-origin: right top;
  }

  &_arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #fff;
    z-index: -1;

    &.__top, &.__topStart, &.__topEnd {
      box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.14);
      bottom: -4px;
    }

    &.__bottom, &.__bottomStart, &.__bottomEnd {
      box-shadow: 1px 0 2px rgba(0, 0, 0, 0.14);
      top: -4px;
    }

    &.__right, &.__rightStart, &.__rightEnd {
      box-shadow: -2px 0 2px rgba(0, 0, 0, 0.14);
      left: -4px;
    }

    &.__left, &.__leftStart, &.__leftEnd {
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.14);
      right: -4px;
    }

    &.__top, &.__bottom {
      transform: translate(-50%, 0) rotate(45deg);
      left: 50%;
    }

    &.__topStart, &.__bottomStart {
      transform: rotate(45deg);
      left: 8px;
    }

    &.__topEnd, &.__bottomEnd {
      transform: rotate(45deg);
      right: 8px;
    }

    &.__right, &.__left {
      transform: translate(0, -50%) rotate(-45deg);
      top: 50%;
    }

    &.__rightStart, &.__leftStart {
      transform: rotate(-45deg);
      top: 8px;
    }

    &.__rightEnd, &.__leftEnd {
      transform: rotate(-45deg);
      bottom: 8px;
    }
  }
}