
$radius: var(--m78-border-radius);
$border-color: var(--m78-color-border);

// 去除阴影
.__dumi-default-navbar {
  box-shadow: none !important;
  transition: 0s !important;
  z-index: var(--m78-z-index);
}

.__dumi-default-alert {
  box-shadow: none !important;
  background: transparent !important;
}

// 线框分割
.__dumi-default-navbar {
  border-bottom: 1px solid $border-color;
  //background: transparent !important;
}

.__dumi-default-alert {
  border: 1px solid $border-color;
  border-radius: 6px;
  padding: 16px;
  overflow: hidden;
  border-color: var(--m78-color);

  &[type='warning'] {
    border-color: var(--m78-color-warn);
  }

  &[type='success'] {
    border-color: var(--m78-color-success);
  }

  &[type='error'] {
    border-color: var(--m78-color-error);
  }

  &::after {
    display: none;
  }
}

.__dumi-default-badge {
  background-color: transparent !important;
  border-radius: 6px !important;
  border: 1px solid #ccc !important;
  box-shadow: none !important;
  color: #000 !important;
}

.__dumi-default-previewer {
  border-radius: $radius;
  border: 1px solid $border-color;
  background: transparent !important;
  overflow: hidden;

  .__dumi-default-previewer-actions {
    border-top: 1px solid $border-color;
  }

  .__dumi-default-previewer-source {
    border-top: 1px solid $border-color;
  }
}


.__dumi-default-menu {
  top: 0 !important;
  padding-top: 0 !important;
  background: transparent !important;

  .__dumi-default-menu-inner {
    padding-top: 120px;
    background: transparent !important;
  }

  &::after {
    display: none;
  }
}

// 其他
.markdown *:not(pre) code {
  border-radius: 6px;
  color: var(--m78-color-primary) !important;
  font-size: 0.9em;
  border: 1px solid $border-color;
  background: transparent !important;
  margin: 0 4px;
}

.markdown blockquote {
  p {
    margin: 0;
  }

  p + p {
    margin-top: var(--m78-space-3);
  }
}

.__dumi-default-code-block {
  border-radius: 6px;
}

.__dumi-default-dark {
  display: none;
}

.__dumi-default-layout-toc {
  border-right: 0;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
  background: transparent !important;

  a {

    &.active {
      font-weight: bold;
    }

    &::before {
      display: none !important;
    }
  }

  li[data-depth='3'] {
    padding-left: 24px !important;
  }
}

// ############ 菜单  ############
// 字体放大, 去掉默认的选中标记和效果
.__dumi-default-menu-list {
  a {
    //font-size: 18px;
  }

  .active {
    font-weight: bold;
    background: transparent !important;

    // 选中菜单右侧的色彩标记
    &::after {
      display: none !important;
    }

    // 选择菜单左侧的点
    &::before {
      display: none !important;
    }
  }
}

.__dumi-default-menu-inner ul li a, .__dumi-default-menu-inner ul li > span {
  line-height: 2.2;
}

.__dumi-default-menu-inner .__dumi-default-menu-list > li > a ~ ul {
  margin-top: 0;
}

.__dumi-default-menu-inner > ul > li > a:not([href]) {
  padding-top: 16px;
  padding-bottom: 8px;
}

// ############ 首页 ############
// 取消banner背景色
.__dumi-default-layout-hero {
  background-color: transparent !important;
}

.__dumi-default-search-input {
  border: 1px solid $border-color !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

html[data-mode=dark] {
  .__dumi-default-badge {
    color: #fff !important;
  }
}

// 整体
.markdown h5, .markdown h2, .markdown h3, .markdown h4, .markdown h5 {
  margin-top: 60px;
}

.__dumi-default-layout-content {
  max-width: 1000px;
  margin: 0 auto;
}

// ## 组件
.__dumi-default-layout-hero button {
  border-color: var(--m78-color);
  color: var(--m78-color);
}

.__dumi-default-layout-hero a:last-child button {
  background: var(--m78-color);
}
