@import '../../style/index';

.m78-btn {
  appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  border: 1px solid var(--m78-color-border);
  padding: 0 18px;
  height: var(--m78--unit-size);
  font-size: var(--m78-fs);
  line-height: 1;
  border-radius: var(--m78-border-radius);
  cursor: pointer;
  background-color: var(--m78-component-bg);
  color: var(--m78-color-primary);
  /* fix: 修复safari下overflow失效的问题 */
  transform: translate3d(0, 0, 0);
  z-index: 1;

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m78-icon,
  .anticon {
    position: relative;
    font-size: 1.3em;
  }

  &__link {
    @include full;
    position: absolute;
  }

  @include ellipsis-x;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: 0;
  }

  // 非disabled的情况下hover及focus的样式
  &:not(:disabled):hover,
  &:not(:disabled):focus {
    box-shadow: var(--m78-shadow-1-focus);
    border-color: transparent;
  }

  // 禁用
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    background: scale_color(#fff, $lightness: -5%);
    background: var(--m78-color-divider);
    color: var(--m78-color-disable);
  }

  & + & {
    margin-left: 8px;
  }

  // 大小
  &.__large {
    height: var(--m78--unit-size-large);
    padding: 0 26px;
    font-size: 18px;
  }

  &.__small {
    height: var(--m78--unit-size-small);
    padding: 0 8px;
    font-size: 14px;
  }

  &.__mini {
    height: 20px;
    padding: 0 8px;
    font-size: 12px;
  }

  // 块按钮
  &.__block {
    display: block;
    width: 100%;
    max-width: var(--m78-sm);
    margin: 0 auto;

    & + & {
      margin: 16px auto 0;
    }
  }

  // 圆形按钮 (比按钮大4px)
  &.__circle,
  &.__icon {
    width: 34px;
    height: 34px;
    padding: 0 !important;
    border-radius: 50%;
    overflow: hidden !important;

    &.__large {
      width: 44px;
      height: 44px;
    }

    &.__small {
      width: 28px;
      height: 28px;
    }

    &.__mini {
      width: 22px;
      height: 22px;
    }
  }

  // 图标按钮
  &.__icon {
    box-shadow: none !important;
    background: transparent !important;
    border: none;

    // 使用特有的交互样式
    &:focus,
    &:not(.__disabled):hover {
      background-color: var(--m78-color-divider) !important;
    }

    .anticon {
      font-size: 20px;
      margin-right: 0;
    }

    &.__large .anticon {
      font-size: 26px;
    }

    &.__small .anticon {
      font-size: 16px;
    }

    &.__mini .anticon {
      font-size: 14px;
    }
  }

  // text按钮
  &.__text {
    height: 24px;
    padding: 0 8px;
    box-shadow: none !important;
    background: transparent !important;
    font-size: inherit;
    border: none;

    // 使用特有的交互样式
    &:focus,
    &:not(.__disabled):hover {
      background-color: var(--m78-color-divider) !important;
    }
  }

  // link按钮和icon按钮禁用样式
  &.__icon,
  &.__text {
    &:disabled,
    &[disabled] {
      opacity: 0.5;
    }
  }
}

// 基础样式
.m78-btn.__primary {
  color: #fff;
  background-color: var(--m78-color);
  border: none;
}

.m78-btn.__primary.__icon {
  color: var(--m78-color);

  &:focus,
  &:not(.__disabled):hover {
    background-color: var(--m78-color-opacity-sm) !important;
  }
}

.m78-btn.__primary.__text {
  color: var(--m78-color);

  &:focus,
  &:not(.__disabled):hover {
    background-color: var(--m78-color-opacity-sm) !important;
  }
}

// 边框按钮
.m78-btn.__primary.__outline {
  color: var(--m78-color);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--m78-color);
  //box-shadow: $shadow-1;
  padding: 7px 15px;

  // 单独配置背景色和颜色
  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: #fff;
    background-color: var(--m78-color);
    border: 1px solid transparent;
  }

  /* 修复边框按钮的大小，使其与普通按钮一致 */
  &.__large {
    padding: 9px 23px;
  }

  &.__small {
    padding: 5px 7px;
  }

  &.__mini {
    padding: 3px 8px;
    font-size: 12px;
  }
}

// 彩色按钮禁用
.m78-btn.__primary:disabled,
.m78-btn.__primary[disabled] {
  cursor: not-allowed;
  background-color: var(--m78-color-3);
}

/**
  * 生成按钮
  * $name: 主题名
  * $color: 主题色
  */
@mixin btn($name, $main-color) {
  // 基础样式
  .m78-btn.__#{$name} {
    color: #fff;
    background-color: $main-color;
    border: none;
  }

  .m78-btn.__#{$name}.__icon {
    color: $main-color;

    &:focus,
    &:not(.__disabled):hover {
      background-color: rgba($main-color, 0.1) !important;
    }
  }

  .m78-btn.__#{$name}.__text {
    color: $main-color;

    &:focus,
    &:not(.__disabled):hover {
      background-color: rgba($main-color, 0.1) !important;
    }
  }

  // 边框按钮
  .m78-btn.__#{$name}.__outline {
    color: $main-color;
    background-color: transparent;
    background-image: none;
    border: 1px solid $main-color;
    //box-shadow: $shadow-1;
    padding: 7px 15px;

    // 单独配置背景色和颜色
    &:not(:disabled):hover,
    &:not(:disabled):focus {
      color: #fff;
      background-color: $main-color;
      border: 1px solid transparent;
    }

    /* 修复边框按钮的大小，使其与普通按钮一致 */
    &.__large {
      padding: 9px 23px;
    }

    &.__small {
      padding: 5px 7px;
    }

    &.__mini {
      padding: 3px 8px;
      font-size: 12px;
    }
  }

  // 彩色按钮禁用
  .m78-btn.__#{$name}:disabled,
  .m78-btn.__#{$name}[disabled] {
    cursor: not-allowed;
    background-color: scale_color($main-color, $lightness: 60%);
  }
}

@include btn('blue', #40a9ff);
@include btn('green', #73d13d);
@include btn('red', #ff4d4f);
@include btn('yellow', #ffa940);
