@import '../../common/style/sass';

.m78-back-top {
  position: fixed;
  right: 24px;
  bottom: 48px;
  cursor: pointer;
  user-select: none;
  z-index: var(--m78-z-index);

  .m78-btn {
    width: var(--m78--unit-size);
    height: var(--m78--unit-size);
    border-radius: 50%;
    padding: 0;
    box-shadow: var(--m78-shadow-2-b) !important;
  }
}
