.m78-wine {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  outline: none;
}

.m78-wine,
.m78-wine * {
  box-sizing: border-box;
}

.m78-wine_decorate {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.m78-wine.__active .m78-wine_decorate {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}

.m78-wine_header {
  display: flex;
  height: 52px;
  padding: 8px 12px;
  user-select: none;
  touch-action: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.m78-wine_header-content {
  display: flex;
  align-items: center;
  flex: 1;
}

.m78-wine_header-actions {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-left: 12px;
}

.m78-wine_content {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.m78-wine_drag-line-l,
.m78-wine_drag-line-t,
.m78-wine_drag-line-r,
.m78-wine_drag-line-b,
.m78-wine_drag-line-rb,
.m78-wine_drag-line-lb,
.m78-wine_drag-line-lt,
.m78-wine_drag-line-rt {
  z-index: 100;
  position: absolute;
}

.m78-wine_drag-line-r,
.m78-wine_drag-line-l {
  width: 8px;
  right: -4px;
  top: 0;
  height: 100%;
  cursor: ew-resize;
}

.m78-wine_drag-line-l {
  right: auto;
  left: -2px;
}

.m78-wine_drag-line-t,
.m78-wine_drag-line-b {
  cursor: ns-resize;
  height: 8px;
  width: 100%;
  top: -4px;
  left: 0;
}

.m78-wine_drag-line-b {
  top: auto;
  bottom: -2px;
}

.m78-wine_drag-line-rb,
.m78-wine_drag-line-lb,
.m78-wine_drag-line-lt,
.m78-wine_drag-line-rt {
  width: 16px;
  height: 16px;
  z-index: 101;
  border-radius: 50%;
}

.m78-wine_drag-line-rb {
  right: -6px;
  bottom: -6px;
  cursor: nwse-resize;
}

.m78-wine_drag-line-lt {
  left: -6px;
  top: -6px;
  cursor: nwse-resize;
}

.m78-wine_drag-line-lb {
  left: -6px;
  bottom: -6px;
  cursor: nesw-resize;
}

.m78-wine_drag-line-rt {
  right: -6px;
  top: -6px;
  cursor: nesw-resize;
}

.m78-wine_hide-btn {
  display: inline-block;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.75);
}

.m78-wine_max-btn {
  display: inline-block;
  width: 12px;
  height: 11px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 2px;
}

.m78-wine_resize-btn {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.m78-wine_resize-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 2px;
}

.m78-wine_resize-btn::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.m78-wine_dispose-btn {
  position: relative;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
}

.m78-wine_dispose-btn::before {
  content: "";
  position: absolute;
  top: 7px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.75);
}

.m78-wine_dispose-btn::after {
  content: "";
  position: absolute;
  left: 7px;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.75);
}

.m78-wine_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.m78-wine_btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.3);
}

.m78-wine_btn.__warning {
  outline-color: #e30d0d;
}

.m78-wine_btn.__warning:hover .m78-wine_dispose-btn::before,
.m78-wine_btn.__warning:hover .m78-wine_dispose-btn::after {
  background-color: #e30d0d;
}

.m78-wine_tip-node {
  box-sizing: border-box;
  position: fixed;
  left: -1000px;
  top: -1000px;
  /*width: 50%;*/
  /*height: 100%;*/
  z-index: 999999;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}

.m78-wine_scrollbar::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.m78-wine_scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.m78-wine_scrollbar::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

.m78-wine_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
