@import "m78/common/style/sass.scss";

.item {
  display: inline-block;
  padding: 8px 10px;
  margin: 8px;
  border: 1px solid var(--m78-color-border);
  border-radius: var(--m78-border-radius);

  @include effect-scale;
}

.searchArea {
  border: 2px dashed var(--m78-color);
  border-radius: var(--m78-border-radius);
  padding: var(--m78-space-2);
}
