
.icon-check-circle:before {
  content: "\e77d";
}

.icon-close-circle:before {
  content: "\e77e";
}

.icon-info-circle:before {
  content: "\e77f";
}

.icon-minus-circle:before {
  content: "\e780";
}

.icon-plus-circle:before {
  content: "\e781";
}

.icon-question-circle:before {
  content: "\e782";
}

.icon-warning-circle:before {
  content: "\e785";
}

.icon-sync:before {
  content: "\e786";
}

.icon-undo:before {
  content: "\e787";
}

.icon-redo:before {
  content: "\e788";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-location:before {
  content: "\e790";
}

.icon-delete:before {
  content: "\e7c3";
}

.icon-bell:before {
  content: "\e7c4";
}

.icon-image:before {
  content: "\e7de";
}

.icon-tag:before {
  content: "\e7e4";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-up:before {
  content: "\e7ed";
}

.icon-down:before {
  content: "\e7ee";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-unorderedlist:before {
  content: "\e7f5";
}

.icon-ellipsis:before {
  content: "\e7fc";
}

.icon-close:before {
  content: "\e7fd";
}

.icon-zoomout:before {
  content: "\e897";
}

.icon-zoomin:before {
  content: "\e898";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-swap-right:before {
  content: "\e8f1";
}

.icon-swap-left:before {
  content: "\e8f2";
}

.icon-plus:before {
  content: "\e8fe";
}

