@import '~@lxjx/sass-base/var/index.scss';

$shallow-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);

$size-default: 32px !default;

$size-large: 40px !default;

$size-small: 24px !default;

$size-big: 70px !default;


@mixin effect-font {
  cursor: pointer;
  font-weight: 400;

  &:hover {
    font-weight: bold;
  }

  &:active {
    font-weight: 600;
    opacity: 0.6;
  }
}

@function shadow1($color) {
  @return 0 2px 2px 0 rgba($color, 0.14), 0 3px 1px -2px rgba($color, 0.12),
    0 1px 5px 0 rgba($color, 0.2);
}
