@import '../../style/index';

.m78-drawer {
  background-color: #fff;
  padding: 12px;
  overflow: auto;
  box-shadow: $shadow-1;
  transition:
      0.6s margin-left,
      0.6s margin-right,
      0.6s margin-top,
      0.6s margin-bottom;

  &_close {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 24px;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 1;
  }

  &.__left,
  &.__right {
    max-width: 86%;
    min-width: 44px;
    top: 0;
    bottom: 0;
  }

  &.__top,
  &.__bottom {
    max-height: 86%;
    min-height: 44px;
    right: 0;
    left: 0;
  }

  &.__full-screen {
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
  }
}
