@import '../../common/style/sass';

.m78-drawer {
  background-color: var(--m78-component-bg);
  box-shadow: var(--m78-shadow-1-b);
  border-radius: var(--m78-border-radius-lg);
  display: flex;
  flex-direction: column;

  &_content {
    flex: 1;
    overflow: auto;
    padding: var(--m78-space-5);
  }

  &_header {
    display: flex;
    align-items: center;
    padding: var(--m78-space-3) var(--m78-space-5);
    font-size: var(--m78-fs-lg);

    & + .m78-drawer_content {
      padding-top: 0;
    }
  }

  &.__left,
  &.__right {
    max-height: 96vw;
  }

  &.__top,
  &.__bottom {
    max-width: 96vw;
    min-width: 10vw;
  }
}
