@import '../../style/index';

.m78-modal {
  position: fixed;
  left: 0;
  top: 0;
}

.m78-modal_calc-node {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
}
