@import '../../style/index';

$s-wrap: $size-large;

$s-small-wrap: $size-default;

.m78-check {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  font-size: 16px;
  line-height: $line-height-base;
  user-select: none;
  z-index: 1;

  &_hidden-check {
    appearance: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &_group {
    .m78-check {
      margin-right: 12px;

      &.__wave-wrap {
        margin-right: 8px;
      }

      &.__switch {
        margin-right: 16px;
      }
    }
  }

  &.__block {
    display: flex;

    & + & {
      margin-top: 12px;
    }
  }

  &.__disabled {
    cursor: not-allowed;
    color: $b-disable;
  }

  &.__wave-wrap {
    &.__block {
      margin-top: 0 !important;
    }

    .m78-check_base {
      width: $s-wrap; // 外层比默认尺寸大一号
      height: $s-wrap;
      border-radius: 50%;
    }

    .m78-check_switch-inner {
      width: $s-wrap;
      height: $s-wrap;
      margin-top: -9px;
      margin-left: -9px;
      padding: 0;
    }

    .m78-check_label {
      margin-left: 0;
    }

    .m78-check_label-before {
      margin-right: 0;
    }
  }

  &.__small {
    font-size: 14px;

    &.__wave-wrap {

      .m78-check_base {
        width: $s-small-wrap;
        height: $s-small-wrap;
      }

      .m78-check_switch-inner {
        width: $s-small-wrap;
        height: $s-small-wrap;
        margin-top: -7px;
        margin-left: -7px;
      }
    }

    &.__block + &.__block {
      margin-top: 6px;
    }

    &.__checkbox {
      .m78-check_base-main {
        height: 18px;
        width: 18px;
      }

      .m78-check_base-inner {
        width: 18px;
        height: 18px;

        &::after {
          top: 28%;
          width: 11px;
          height: 5px;
        }
      }

      .m78-check_base.__partial {
        .m78-check_base-inner::after {
          top: 8px;
          left: 4px;
          width: 10px;
        }
      }
    }

    &.__switch {
      &.__checked {
        .m78-check_switch-inner {
          transform: translateX(18px);
        }
      }
    }

    .m78-check_base-main {
      height: 20px;
      width: 20px;
    }

    .m78-check_switch-handle {
      width: 16px;
      height: 16px;
    }

    .m78-check_switch {
      height: 18px;
      width: 36px;
    }

  }

  &_base {
    flex: 0 0 auto;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    transition: background-color 0.6s;

    &.__checkbox {
      &.__partial {
        .m78-check_base-inner {
          &::after {
            border: none;
            width: 14px;
            height: 3px;
            left: 3px;
            top: 9px;
            background-color: #fff;
            transform: rotate(0);
          }
        }
      }

      // 防止叠色
      &.__disabled.__checked {
        .m78-check_base-main {
          border-color: transparent !important;
        }
      }

      .m78-check_base-main,
      .m78-check_base-inner {
        border-radius: $border-radius;
      }

      .m78-check_base-main {
        width: 20px;
        height: 20px;
      }
      .m78-check_base-inner {
        position: relative;
        width: 20px;
        height: 20px;
        margin: 0;
        left: -2px;
        top: -2px;

        &::after {
          position: absolute;
          left: 20%;
          top: 24%;
          content: '';
          width: 13px;
          height: 7px;
          border-color: #fff;
          border-style: solid;
          border-width: 0 0 2px 2px;
          transform: rotate(-45deg);
        }
      }
    }

    &:hover {
      background-color: $b-divider;
    }

    &:active {
      background-color: transparent;
    }

    &.__disabled {
      background-color: transparent !important;

      .m78-check_base-main {
        border-color: $b-disable !important;
      }
      .m78-check_base-inner {
        background-color: $b-disable !important;
      }
    }

    &.__focus {
      background-color: $b-divider;
    }

    &.__focus.__checked {
      background-color: rgba($color, 0.1);
    }

    &.__checked,
    &.__partial {
      &:hover {
        background-color: rgba($color, 0.1);
      }
      .m78-check_base-inner {
        transform: scale3d(1, 1, 1);
      }

      .m78-check_base-main {
        border-color: $color;
      }

      .m78-effect-ripple {
        background: rgba($color, 0.1);
      }
    }

    .m78-effect-ripple {
      transition: 0.3s ease-in !important;
      background: $b-divider;
    }

    &-main {
      position: relative;
      margin: auto;
      display: inline-block;
      width: 22px;
      height: 22px;
      border: 2px solid $b-second;
      border-radius: 50%;
      z-index: 1;
    }

    &-inner {
      position: absolute;
      width: 12px;
      height: 12px;
      display: inline-block;
      background-color: $color;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin-left: -6px;
      margin-top: -6px;
      transform: scale3d(0, 0, 1);
      transform-origin: center;
      transition: transform 0.1s;
    }
  }

  &_label-before {
    margin-right: 6px;
  }

  &_label {
    margin-left: 6px;
  }

  &.__radio {
    .m78-check_base {
      border-radius: 50%;
    }
  }

  &.__switch {
    .m78-check_label-before {
      margin-right: 10px;
      font-size: 14px;
    }
    .m78-check_label {
      margin-left: 10px;
      font-size: 14px;
    }

    &.__block + & {
      margin-top: 16px;
    }
  }

  &_switch {
    position: relative;
    height: 22px;
    width: 20px * 2 + 2; /* handle的宽度x2 + 2px的边距 */
    background-color: $b-border;
    border-radius: 50px;
    box-shadow: 0 0 0 1px $b-second;
    transition: background-color $animation-duration-slow;

    &.__checked {
      background-color: $color;

      .m78-check_switch-inner {
        transform: translateX(20px);
      }

      .m78-effect-ripple {
        background: rgba($color, 0.4);
      }
    }

    &.__focus {
      .m78-check_switch-inner {
        background-color: $b-divider;
      }

      &.__checked .m78-check_switch-inner {
        background-color: rgba($color, 0.4);
      }
    }

    &.__disabled {
      background-color: $b-divider;
      box-shadow: 0 0 0 1px $b-disable;

      .m78-check_switch-handle {
        box-shadow: 0 0 0 1px $b-disable;
      }

      &.__checked {
        background-color: rgba($color, 0.4);
      }
    }

    &-inner {
      display: flex;
      position: absolute !important;
      margin-top: -1px;
      margin-left: -1px;
      padding: 2px;
      z-index: 1;
      border-radius: 50%;
      /* 9 = inner 和 handle 的边距 减1px的间隙 */
      transform: translateX(0);
      transition: transform $animation-duration-base;
    }

    &-handle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      margin: auto;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $b-second;
      font-size: 12px;
      color: $b-second;
      @include ellipsis-x;
      > span {
        transform: scale(0.8);
        transform-origin: center center;
      }
    }
  }

}
