@import '../../common/style/sass';

$size: 20px;
$size-small: 16px;

.m78-check {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  font-size: 16px;
  line-height: var(--m78-line-height);
  user-select: none;
  z-index: 1;

  &_wave-node {
    position: absolute;
    left: -40%;
    top: -40%;
    bottom: -40%;
    right: -40%;
    z-index: 1;
    border-radius: 14px;
  }

  &.__hide-wave .m78-check_wave-node {
    display: none;
  }

  &_hidden-check {
    appearance: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &_group {
    .m78-check {
      margin-right: 12px;

      &.__switch {
        margin-right: 16px;
      }
    }
  }

  &.__block {
    display: flex;

    & + & {
      margin-top: 12px;
    }
  }

  &.__disabled {
    cursor: not-allowed;
    color: var(--m78-color-disable);

    .m78-check_wave-node {
      display: none;
    }
  }

  &.__small {
    font-size: 14px;

    &.__block + &.__block {
      margin-top: 6px;
    }

    &.__checkbox {

      .m78-check_base-main {
        height: 16px;
        width: 16px;
      }

      .m78-check_base-inner {
        width: 16px;
        height: 16px;

        &::after {
          top: 31%;
          left: 24%;
          width: 9px;
          height: 5px;
          border-width: 0 0 2px 2px;
        }
      }

      .m78-check_base.__partial {
        .m78-check_base-inner::after {
          top: 8px;
          left: 4px;
          width: 10px;
        }
      }
    }

    &.__switch {
      &.__checked {
        .m78-check_switch-inner {
          transform: translateX(13px);
        }
      }
    }

    &.__radio {
      .m78-check_base-inner {
        width: 8px;
        height: 8px;
        margin-left: -4px;
        margin-top: -4px;
      }
    }

    .__partial .m78-check_base-inner::after {
      top: 7px !important;
      left: 4px !important;
      width: 8px !important;
      height: 2px !important;
    }

    .m78-check_switch {
      width: 28px;
      height: 16px;
    }

    .m78-check_base-main {
      height: 16px;
      width: 16px;
    }

    .m78-check_switch-handle {
      width: 16px;
      height: 16px;
    }


  }

  &_base {
    flex: 0 0 auto;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    transition: background-color 0.6s;

    &.__checkbox {
      &.__partial {
        .m78-check_base-inner {
          &::after {
            border: none;
            width: 12px;
            height: 3px;
            left: 4px;
            top: 8px;
            background-color: var(--m78-component-bg);
            transform: rotate(0);
          }
        }
      }

      // 防止叠色
      &.__disabled.__checked {
        .m78-check_base-main {
          border-color: transparent !important;
        }
      }

      .m78-check_base-main,
      .m78-check_base-inner {
        border-radius: var(--m78-border-radius);
      }

      .m78-check_base-main {
        width: $size;
        height: $size;
        overflow: hidden;
      }

      .m78-check_base-inner {
        position: relative;
        width: $size;
        height: $size;
        margin: 0;
        left: -2px;
        top: -2px;

        &::after {
          position: absolute;
          left: 20%;
          top: 26%;
          content: '';
          width: 12px;
          height: 7px;
          border-color: var(--m78-component-bg);
          border-style: solid;
          border-width: 0 0 3px 3px;
          transform: rotate(-45deg);
        }
      }
    }

    &.__disabled {
      background-color: transparent !important;

      .m78-check_base-main {
        border-color: var(--m78-color-disable) !important;
      }

      .m78-check_base-inner {
        background-color: var(--m78-color-disable) !important;
      }
    }

    &.__focus {
      .m78-check_wave-node {
        background-color: var(--m78-color-divider);
      }
    }

    &.__focus.__checked {
      .m78-check_wave-node {
        background-color: var(--m78-color-opacity-sm);
      }
    }

    &.__checked,
    &.__partial {
      .m78-check_base-inner {
        transform: scale3d(1, 1, 1);
      }

      .m78-check_base-main {
        border-color: var(--m78-color);
      }

      .m78-effect-ripple {
        background-color: var(--m78-color-opacity-sm);
      }
    }

    .m78-effect-ripple {
      transition: 0.3s ease-in !important;
      background: var(--m78-color-divider);
    }

    &-main {
      position: relative;
      margin: auto;
      display: inline-block;
      width: $size;
      height: $size;
      border: 2px solid var(--m78-color-second);
      border-radius: 50%;
      z-index: 1;
    }

    &-inner {
      position: absolute;
      width: 10px;
      height: 10px;
      display: inline-block;
      background-color: var(--m78-color);
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin-left: -5px;
      margin-top: -5px;
      transform: scale3d(0, 0, 1);
      transform-origin: center;
      transition: transform 0.1s;
    }
  }

  &_label-before {
    margin-right: 6px;
  }

  &_label {
    margin-left: var(--m78-space-1);
  }

  &.__radio {
    .m78-check_base {
      border-radius: 50%;
    }
  }

  &.__switch {
    .m78-check_label-before {
      margin-right: 10px;
      font-size: 14px;
    }

    .m78-check_label {
      margin-left: 10px;
      font-size: 14px;
    }

    &.__block + & {
      margin-top: 16px;
    }
  }

  &_switch {
    position: relative;
    height: $size;
    width: 36px;
    background-color: var(--m78-color-border);
    border-radius: 50px;
    box-shadow: 0 0 0 1px var(--m78-color-disable);
    transition: background-color var(--m78-animate-slow);

    &.__checked {
      background-color: var(--m78-color);

      .m78-check_switch-inner {
        transform: translateX(16px);
      }

      .m78-effect-ripple {
        background-color: var(--m78-color-opacity-md) !important;
      }
    }

    &.__focus {
      .m78-check_wave-node {
        background-color: var(--m78-color-divider);
      }

      &.__checked .m78-check_wave-node {
        background-color: var(--m78-color-opacity-md);
      }
    }

    &.__disabled {
      background-color: var(--m78-color-divider);
      box-shadow: 0 0 0 1px var(--m78-color-disable);

      &.__checked {
        background-color: var(--m78-color-opacity-md);
      }
    }

    &-inner {
      display: flex;
      position: absolute !important;
      z-index: 1;
      border-radius: 50%;
      transform: translateX(0);
      transition: transform var(--m78-animate-base);
    }

    &-handle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      margin: auto;
      width: $size;
      height: $size;
      background-color: var(--m78-component-bg);
      border-radius: 50%;
      box-shadow: 0 0 0 1px var(--m78-color-disable);
      font-size: 12px;
      color: var(--m78-color-primary);
      @include ellipsis-x;

      > span {
        transform: scale(0.8);
        transform-origin: center center;
      }
    }
  }
}

html[data-mode='dark'] {
  .m78-check_switch .m78-effect-ripple {
    background-color: var(--m78-color-second-w);
  }
}
