@import '../../style/index';

.fr-check {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  font-size: 16px;
  line-height: $line-height-base;
  user-select: none;
  z-index: 1;

  & + & {
    margin-left: 10px;
  }

  &_hidden-check {
    appearance: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &.__block {
    display: flex;

    & + & {
      margin-left: 0;
    }
  }

  &.__disabled {
    cursor: not-allowed;
    color: $b-disable;
  }

  &_base {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.6s;

    &.__checkbox {
      .fr-check_base-main,
      .fr-check_base-inner {
        border-radius: $border-radius;
      }

      .fr-check_base-main {
        width: 20px;
        height: 20px;
      }
      .fr-check_base-inner {
        position: relative;
        width: 20px;
        height: 20px;
        margin: 0;
        left: -2px;
        top: -2px;

        &::after {
          position: absolute;
          left: 20%;
          top: 24%;
          content: '';
          width: 13px;
          height: 7px;
          border-color: #fff;
          border-style: solid;
          border-width: 0 0 2px 2px;
          transform: rotate(-45deg);
        }
      }
    }

    &:hover {
      background-color: $b-divider;
    }

    &:active {
      background-color: transparent;
    }

    &.__disabled {
      background-color: transparent !important;

      .fr-check_base-main {
        border-color: $b-disable !important;
      }
      .fr-check_base-inner {
        background-color: $b-disable !important;
      }
    }

    &.__focus {
      background-color: $b-divider;
    }

    &.__focus.__checked {
      background-color: rgba($color, 0.1);
    }

    &.__checked {
      &:hover {
        background-color: rgba($color, 0.1);
      }
      .fr-check_base-inner {
        transform: scale3d(1, 1, 1);
      }

      .fr-check_base-main {
        border-color: $color;
      }

      .fr-effect-ripple {
        background: rgba($color, 0.1);
      }
    }

    .fr-effect-ripple {
      transition: 0.3s ease-in !important;
      background: $b-divider;
    }

    &-main {
      position: relative;
      margin: auto;
      display: inline-block;
      width: 22px;
      height: 22px;
      border: 2px solid $b-second;
      border-radius: 50%;
      z-index: 1;
    }

    &-inner {
      position: absolute;
      width: 12px;
      height: 12px;
      display: inline-block;
      background-color: $color;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin-left: -6px;
      margin-top: -6px;
      transform: scale3d(0, 0, 1);
      transform-origin: center;
      transition: transform 0.1s;
    }
  }

  &.__switch {
    .fr-check_label-before {
      margin-right: 10px;
      font-size: 14px;
    }
    .fr-check_label {
      margin-left: 10px;
      font-size: 14px;
    }

    &.__block + & {
      margin-top: 16px;
    }
  }

  &_switch {
    position: relative;
    height: 22px;
    width: 20px * 2 + 2; /* handle的宽度x2 + 2px的边距 */
    background-color: $b-border;
    border-radius: 50px;
    box-shadow: 0 0 0 1px $b-second;
    transition: background-color $animation-duration-slow;

    &.__checked {
      background-color: $color;

      .fr-check_switch-inner {
        transform: translateX(20px);
      }

      .fr-effect-ripple {
        background: rgba($color, 0.4);
      }
    }

    &.__focus {
      .fr-check_switch-inner {
        background-color: $b-divider;
      }

      &.__checked .fr-check_switch-inner {
        background-color: rgba($color, 0.4);
      }
    }

    &.__disabled {
      background-color: $b-divider;
      box-shadow: 0 0 0 1px $b-disable;

      .fr-check_switch-handle {
        box-shadow: 0 0 0 1px $b-disable;
      }

      &.__checked {
        background-color: rgba($color, 0.4);
      }
    }

    &-inner {
      display: flex;
      position: absolute !important;
      margin-top: -9px;
      margin-left: -9px;
      width: 40px;
      height: 40px;
      z-index: 1;
      border-radius: 50%;
      /* 9 = inner 和 handle 的边距 减1px的间隙 */
      transform: translateX(0);
      transition: transform $animation-duration-base;
    }

    &-handle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      margin: auto;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $b-second;
      font-size: 12px;
      color: $b-second;
      @include ellipsis-x;
      > span {
        transform: scale(0.8);
        transform-origin: center center;
      }
    }
  }
}
