@import '../../style/index';

.m78-table {
  position: relative;
  background: var(--m78-component-bg);
  line-height: var(--m78-line-height);
  font-size: var(--m78-fs);
  color: var(--m78-color-primary);
  text-align: left;
  //overflow: auto;
  //height: 400px;
  width: 100%;
  border-radius: 6px 6px 0 0;

  // 隐藏左侧阴影的标记类
  &.__touchLeft .m78-table_fixed-shadow.__right {
    opacity: 0;
  }

  // 隐藏右侧阴影的标记类
  &.__touchRight .m78-table_fixed-shadow.__left {
    opacity: 0;
  }

  // 基础表格属性
  table {
    min-width: 100%;
    border-spacing: 0;
    // collapse在部分浏览器支持很怪异，所以统一使用使用手动合并边框的方式
    border-collapse: separate;
  }

  // 表头基础样式
  thead {
    font-weight: bold;
    color: var(--m78-color-title);
    white-space: nowrap;

    td {
      top: 0;
      position: sticky;
      z-index: 11;
      background-color: var(--m78-component-bg);
    }

    .m78-table_cell {
      padding: 8px 12px;
    }

    .m78-table_fixed {
      z-index: 12;
    }
  }

  // 背景色、边框均使用td来设置可以减少css差异减少维护成本
  tbody {
    tr {
      &:hover td, &:hover .m78-table_fixed {
        background: var(--m78-gray-4) !important;
      }
    }

    tr:last-child td {
      border-bottom: none;

      &::after {
        display: none;
      }
    }
  }

  tr {
    position: relative;
  }

  td {
    position: relative;

    &:first-child {
      font-weight: bold;
    }
  }

  // td内部的格子
  &_cell {
    padding: 6px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-word;
  }


  // ##########################
  // fixed列和表头
  // ##########################

  // 固定cell
  &_fixed {
    position: sticky !important;
    z-index: 10;
    left: 0;
    background: var(--m78-component-bg);

    &.__left-last {
      box-shadow: 0 0 4px var(--m78-color-second);
    }
  }

  // 固定格的提示阴影
  tbody &_fixed-shadow {
    position: absolute;
    left: -10px;
    top: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    pointer-events: none;
    transition: opacity var(--m78-animate-fast);
    opacity: 1;

    &.__right {
      left: auto;
      right: -10px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    }
  }

  &.__regular thead, &.__border thead {
    td {
      border-bottom: 1px solid var(--m78-gray-7);

      // 模拟下边框修复不显示的问题
      &::after {
        position: absolute;
        content: '';
        height: 0;
        // 防止出现间隔
        width: 104%;
        left: -1px;
      }

      &::after {
        bottom: -1px;
        border-bottom: 1px solid var(--m78-gray-7);
      }

      // 防止溢出导致滚动
      &:first-child::after {
        left: 0;
      }

      &:last-child::after {
        left: -4%;
      }
    }
  }

  // ##########################
  // 边框、分割样式类型
  // ##########################

  // 常规样式
  &.__regular {
    td {
      border-bottom: 1px solid var(--m78-gray-5);
    }

    tr:last-child td {
      border-bottom: none;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
    }
  }

  // 边框样式
  &.__border {
    border: 1px solid var(--m78-gray-5);
    //border-right: none;
    //border-bottom: none;

    td {
      border-right: 1px solid var(--m78-gray-5);
      border-bottom: 1px solid var(--m78-gray-5);
    }

    td:last-child {
      border-right: none;
    }

    td:not(.m78-table_fixed) + .m78-table_fixed {
      &::before {
        position: absolute;
        content: '';
        height: 100%;
        left: -1px;
        top: 0;
        border-left: 1px solid var(--m78-gray-5);
      }
    }

    &::-webkit-scrollbar {
      border: 1px solid var(--m78-gray-5);
      border-radius: 0;
      background-color: transparent;
    }
  }

  // 条纹背景
  &.__stripe {
    tbody {
      tr:nth-child(2n - 1) td {
        background-color: var(--m78-gray-3);
      }
    }
  }

}
