@import '../../style/index';

.m78-table {
  background: var(--m78-component-bg);
  line-height: var(--m78-line-height);
  font-size: var(--m78-fs);
  color: var(--m78-color-primary);
  text-align: left;
  overflow: auto;
  width: 100%;

  table {
    //table-layout: fixed;
    min-width: 100%;
    border-spacing: 0;
    // collapse和sticky已经firefox支持很怪异，后续css统一使用使用手动合并边框的方式
    border-collapse: separate;
  }

  thead {
    font-weight: bold;
    color: var(--m78-color-title);
    white-space: nowrap;

    td {
      top: 0;
      position: sticky;
      z-index: 11;
      background-color: var(--m78-component-bg);
    }

    .m78-table_fixed {
      z-index: 12;
    }
  }

  // 背景色、边框均使用td来设置可以减少css差异减少维护成本
  tbody {
    tr {
      &:hover td, &:hover .m78-table_fixed {
        background: var(--m78-gray-4) !important;
      }
    }

    tr:last-child td {
      border-bottom: none;

      &::after {
        display: none;
      }
    }
  }

  tr {
    position: relative;
  }

  td {
    position: relative;

    &:first-child {
      font-weight: bold;
    }
  }

  &_cell {
    padding: 6px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-word;
  }


  // ##########################
  // fixed列和表头
  // ##########################

  &_fixed {
    position: sticky !important;
    z-index: 10;
    left: 0;
    background: var(--m78-component-bg);

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      left: 0;
      bottom: -12px;
      border-bottom: 1px solid var(--m78-gray-5);
    }
  }

  &.__regular thead, &.__border thead {
    td {
      border-bottom: 1px solid var(--m78-gray-7);

      // 模拟下边框修复不显示的问题
      &::after {
        position: absolute;
        content: '';
        height: 0;
        // 防止出现间隔
        width: 104%;
        left: -1px;
      }

      &::after {
        bottom: -1px;
        border-bottom: 1px solid var(--m78-gray-7);
      }

      // 防止溢出导致滚动
      &:first-child::after {
        left: 0;
      }

      &:last-child::after {
        left: -4%;
      }
    }
  }

  // ##########################
  // 边框、分割样式类型
  // ##########################

  &.__regular {
    td {
      border-bottom: 1px solid var(--m78-gray-5);
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  &.__border {
    border: 1px solid var(--m78-gray-5);
    //border-right: none;
    //border-bottom: none;

    td {
      border-right: 1px solid var(--m78-gray-5);
      border-bottom: 1px solid var(--m78-gray-5);
    }

    td:last-child {
      border-right: none;
    }
  }

  &.__stripe {
    tbody {
      tr:nth-child(2n - 1) td {
        background-color: var(--m78-gray-3);
      }
    }
  }

  &::-webkit-scrollbar {
    //border-radius: 0;
    //background-color: transparent;
  }
}
