@import '../../style/index';

.m78-table {
  position: relative;
  line-height: var(--m78-line-height);
  font-size: var(--m78-fs);
  color: var(--m78-color-primary);
  text-align: left;
  width: 100%;

  &_wrap {
    position: relative;
    overflow: auto;
    width: 100%;
    white-space: nowrap;
    border: 1px solid var(--m78-gray-5);
    border-radius: var(--m78-border-radius);
  }

  &_main {
    display: inline-block;
    vertical-align: top;
    width: auto !important;

    &.__left, &.__right {
      position: sticky;
      background-color: var(--m78-component-bg);
      z-index: 13;
    }

    &.__left {
      left: 0;
    }

    &.__right {
      right: 0;
    }
  }

  &_fixed-table {
    min-width: auto !important;
    //width: 0;   // 配合自动布局的table能实现自适应宽度

    &.__left, &.__right {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 10px;
        height: 100%;
        pointer-events: none;
        opacity: 1;
        transition: 0.2s opacity;
      }
    }

    &.__left {
      &::after {
        right: -10px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
      }
    }

    &.__right {
      &::after {
        left: -10px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
      }
    }
  }

  // 隐藏左侧阴影的标记类
  &.__touchLeft .m78-table_fixed-table.__left::after {
    opacity: 0;
  }

  // 隐藏右侧阴影的标记类
  &.__touchRight .m78-table_fixed-table.__right::after {
    opacity: 0;
  }

  // 基础表格属性
  table {
    position: relative;
    background: var(--m78-component-bg);
    min-width: 100%;
    border-spacing: 0;
    // collapse在部分浏览器支持很怪异，所以统一使用使用手动合并边框的方式
    border-collapse: separate;
  }

  // 表头表底基础样式
  thead, tfoot {
    font-weight: bold;
    color: var(--m78-color-title);
    white-space: nowrap;

    td {
      top: 0;
      position: sticky;
      z-index: 12;
      background-color: var(--m78-component-bg);
    }
  }

  thead {
    td.__effect {
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: var(--m78-gray-3);
      }
    }

    .m78-table_cell {
      justify-content: space-between;
    }
  }

  tfoot {
    td {
      top: auto;
      bottom: 0;
    }
  }

  tr {
    position: relative;
  }

  td {
    position: relative;
  }

  &_cell {
    position: relative;
    //height: 38px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    word-break: break-word;
    white-space: nowrap;
    min-width: 100%;  // 防止总列宽不足容器宽度，但是设置了maxWidth相关的属性时，内容被裁剪
    z-index: 1;

    .m78-table_cell {
      flex: 1;
      padding: 0 !important;
      min-width: 0;
    }
  }

  // ##########################
  // 尺寸
  // ##########################
  td {
    height: 42px;
  }

  .m78-table_cell {
    max-height: 39px;
  }

  &.__small {
    td {
      height: 32px;
    }
    .m78-table_cell {
      padding: 0 8px;
      max-height: 29px;
    }
  }

  &.__large {
    td {
      height: 48px;
    }
    .m78-table_cell {
      padding: 0 16px;
      max-height: 45px;
    }
  }


  // ##########################
  // fixed列和表头
  // ##########################

  &.__regular thead, &.__border thead, &.__regular tfoot, &.__border tfoot {
    td {
      // 模拟下边框修复不显示的问题
      &::after {
        position: absolute;
        content: '';
        width: 104%;  // 防止出现间隔
        left: -1px;
        bottom: -1px;
        height: 1px;
        background-color: var(--m78-gray-7);
      }

      // 防止溢出导致滚动
      &:first-child::after {
        left: 0;
      }

      &:last-child::after {
        left: -4%;
      }
    }
  }

  &.__regular tfoot, &.__border tfoot {
    td::after {
      bottom: unset;
      top: 1px;
    }
  }

  // ##########################
  // 边框、分割样式类型
  // ##########################

  // 常规样式
  &.__regular {
    td {
      border-bottom: 1px solid var(--m78-gray-5);
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  // 边框样式
  &.__border {
    td {
      border-right: 1px solid var(--m78-gray-5);
    }

    td:first-child {
      border-left: none;
    }

    td:last-child {
      border-right: none;
    }

    tbody {
      td {
        border-bottom: 1px solid var(--m78-gray-5);
      }

      tr:last-child td {
        border-bottom: none;
      }
    }

    .m78-table_fixed-table.__left {
      border-right: 1px solid var(--m78-gray-5);
    }

    .m78-table_fixed-table.__right {
      border-left: 1px solid var(--m78-gray-5);
    }
  }

  // 条纹背景
  &.__stripe {
    tbody {
      tr.m78-table_body-row.__odd td {
        background-color: var(--m78-gray-2);
      }
    }
  }

  // ##########################
  // 其他
  // ##########################

  &_expand-node {
    min-height: 40px;
  }

  &_prefix-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size-small;
    height: $size-small;
    font-size: 18px;
    border-radius: 4px;
    margin-right: 4px;

    &.__effect:hover {
      background-color: var(--m78-color-bg);
    }
  }

  &_sort-btn {
    display: flex;
    height: $size-small;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    margin-left: 12px;
    color: var(--m78-color-second);

    &.__asc > span:first-child {
      color: var(--m78-color);
    }

    &.__desc > span:last-child {
      color: var(--m78-color);
    }

    > span {
      margin: 0 !important;
    }
  }

  &_cell-effect-node {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--m78-gray-5);
    z-index: 0;
    opacity: 0;
    pointer-events: none;

    &.__show {
      opacity: 0.4;
    }
  }
}
