@import '../../style/index';

.m78-table {
  white-space: nowrap;
  background: var(--m78-component-bg);
  line-height: var(--m78-line-height);
  font-size: var(--m78-fs);
  color: var(--m78-color-primary);
  text-align: left;
  overflow: auto;
  width: 100%;
  border: 1px solid var(--m78-gray-5);
  border-radius: 6px;

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  thead {
    font-weight: bold;
    color: var(--m78-color-title);
    position: sticky;
    top: 0;
    background-color: var(--m78-component-bg);
    z-index: 11;
  }

  // 背景色、边框均使用td来设置可以减少css差异减少维护成本
  tbody {
    tr {
      &:hover td, &:hover .m78-table_fixed {
        background: var(--m78-gray-4) !important;
      }
    }
  }

  tr {
    position: relative;
  }

  td {
    position: relative;
    padding: 6px 12px;
    height: 40px;

    &:first-child {
      font-weight: bold;
    }
  }

  // ##########################
  // fixed列和表头
  // ##########################

  &_fixed {
    position: sticky !important;
    z-index: 10;
    left: 0;
    background: var(--m78-component-bg);
  }

  // 修复sticky格的显示问题

  &_fixed-border_left, &_fixed-border_right {
    position: absolute;
    top: 0;
    height: 100%;
  }

  &_fixed-border_left {
    border-left: 1px solid var(--m78-gray-5);
    left: -1px;
  }

  &_fixed-border_right {
    border-right: 1px solid var(--m78-gray-5);
    right: -1px;
  }

  &.__regular thead, &.__border thead {
    td {
      border-bottom: 1px solid var(--m78-gray-7);

      &::before, &::after {
        position: absolute;
        content: '';
        height: 0;
        width: 100%;
        left: 0;
      }

      &::before {
        top: -1px;
        border-top: 1px solid var(--m78-gray-7);
      }

      &::after {
        bottom: -1px;
        border-bottom: 1px solid var(--m78-gray-7);
      }
    }
  }

  // ##########################
  // 边框、分割样式类型
  // ##########################

  &.__regular {
    td {
      border-bottom: 1px solid var(--m78-gray-5);
    }

    tr:last-child td{
      border-bottom: none;
    }
  }

  &.__border {
    thead {
      td::before {
        border-color: var(--m78-gray-5);
      }
    }

    td {
      border: 1px solid var(--m78-gray-5);
    }

    tr:first-child td {
      border-top: none;
    }

    td:first-child {
      border-left: none;
    }

    td:last-child {
      border-right: none;
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  &.__stripe {
    tbody {
      tr:nth-child(2n - 1) td {
        background-color: var(--m78-gray-3);
      }
    }
  }

  &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
    border-radius: 0;
  }
}
