@import '../../style/index';

.m78-tab {
  background-color: $component-background;

  &.__flexible {
    .m78-tab_tabs-item {
      flex: 1 0 auto;
    }
  }

  &.__left, &.__right {
    display: flex;

    .m78-tab_tabs {
      flex-direction: column;
      border-bottom: none;
      margin-bottom: 0;
    }

    .m78-tab_cont {
      flex: 1;
    }

    .m78-tab_line {
      top: 0;
      bottom: auto;
      width: 3px;
      height: 40px;
    }
  }

  &.__left {
    .m78-tab_tabs {
      border-right: 1px solid $b-border;
      margin-right: 12px;
    }

    .m78-tab_line {
      right: -2px;
      left: auto;
    }

    .m78-tab_tabs-item {
      text-align: right;
    }
  }

  &.__right {
    flex-direction: row-reverse;

    .m78-tab_tabs {
      border-left: 1px solid $b-border;
      margin-left: 12px;
    }

    .m78-tab_line {
      left: -2px;
      right: auto;
    }

    .m78-tab_tabs-item {
      text-align: left;
    }
  }

  &.__bottom {
    display: flex;
    flex-direction: column-reverse;

    .m78-tab_tabs {
      border-bottom: none;
      border-top: 1px solid $b-border;
      margin-top: 12px;
      margin-bottom: 0;
    }

    .m78-tab_cont {
      flex: 1;
    }

    .m78-tab_line {
      top: 0;
      bottom: auto;
    }

  }

  &.__small {

    .m78-tab_tabs-item {
      height: 32px;
      line-height: 34px;
      padding: 0 12px;
    }
  }

  &.__large {

    .m78-tab_tabs-item {
      height: 48px;
      line-height: 50px;
      padding: 0 20px;
    }
  }

  &_tabs {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $b-border;
    margin-bottom: 12px;
    overflow: hidden;
  }

  &_tabs-item {
    flex: 0 0 auto;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 42px;
    user-select: none;
    padding: 0 16px;
    cursor: pointer;
    border-radius: 2px;
    /* TODO: 禁用时波纹效果未禁用 */
    &.__disabled {
      color: $b-disable !important;
      cursor: not-allowed;
    }

    &.__active {
      color: $color;
      font-weight: bold;
    }
  }

  &.__hasPage {
    .m78-tab_tabs {
      padding: 0 24px;
    }
  }

  &_page-ctrl {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 24px;

    &.__left {
      left: 0;
    }

    &.__right {
      right: 0;
      box-shadow: -2px 0 4px rgba(255,255,255,0.45);
    }
  }

  &_line {
    position: absolute;
    bottom: 0;
    left: 68px;
    width: 68px;
    height: 3px;
    border-radius: 12px;
    background-color: $color;
  }

  &_cont-item {

  }
}
