@import '../../common/style/sass';

.m78-tab {
  font-size: var(--m78-fs);
  background-color: var(--m78-component-bg);
  //border: 1px solid var(--m78-color-border);

  &.__flexible {
    .m78-tab_tabs-item {
      flex: 1 0 auto;
    }
  }

  &.__noSplitLine {
    .m78-tab_tabs-wrap::after {
      display: none;
    }
  }

  &.__left,
  &.__right {
    display: flex;

    .m78-tab_tabs-wrap {
      min-height: 100%;
    }

    .m78-tab_tabs {
      height: 100%;
      flex-direction: column;
      border-bottom: none;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .m78-tab_cont {
      flex: 1;
      margin-top: 0;
    }

    .m78-tab_tabs-wrap::after {
      top: 0;
      bottom: 0;
      width: 2px;
      height: auto;
    }

    .m78-tab_line {
      top: 0;
      bottom: auto;
      width: 2px;
    }

    .m78-tab_tabs-item {
      width: 100%;
    }

    &.__flexible .m78-tab_tabs-item {
      flex: none;
    }

    .m78-tab_start-ctrl {
      left: 50%;
      top: -32px;
      transform: translateX(-50%) rotate(90deg);
    }

    .m78-tab_end-ctrl {
      left: 50%;
      right: auto;
      top: auto;
      bottom: -32px;
      transform: translateX(-50%) rotate(90deg);
    }
  }

  &.__left {
    .m78-tab_cont {
      margin-left: 12px;
    }

    .m78-tab_tabs {
      align-items: flex-end;
    }

    .m78-tab_tabs-wrap::after {
      right: 0;
      left: auto;
    }

    .m78-tab_line {
      right: 0;
      left: auto;
    }

    .m78-tab_tabs-item {
      justify-content: flex-end;
    }
  }

  &.__right {
    flex-direction: row-reverse;

    .m78-tab_cont {
      margin-right: 12px;
    }

    .m78-tab_tabs-wrap::after {
      left: 0;
      right: auto;
    }

    .m78-tab_line {
      right: auto;
      left: 0;
    }

    .m78-tab_tabs-item {
      justify-content: flex-start;
    }
  }

  &.__bottom {
    display: flex;
    flex-direction: column-reverse;

    .m78-tab_tabs {
      padding-bottom: 0;
      padding-top: 2px;
    }

    .m78-tab_tabs-wrap::after {
      top: 0;
      bottom: auto;
    }

    .m78-tab_cont {
      flex: 1;
      margin-top: 0;
      margin-bottom: 12px;
    }

    .m78-tab_line {
      top: 0;
      bottom: auto;
    }
  }

  &.__small {
    .m78-tab_tabs-item {
      height: 32px;
      padding: 0 12px;
    }
  }

  &.__large {
    .m78-tab_tabs-item {
      height: 48px;
      padding: 0 20px;
    }
  }

  &_tabs {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-bottom: 2px;
    overflow-x: auto;
  }

  &_tabs-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    text-align: center;
    position: relative;
    height: 40px;
    user-select: none;
    padding: 0 16px;
    cursor: pointer;

    &.__disabled {
      color: var(--m78-color-disable) !important;
      cursor: not-allowed;
    }

    &.__active {
      color: var(--m78-color);
      //font-weight: bold;
    }
  }

  &_line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 12px;
    background-color: var(--m78-color);
    z-index: var(--m78-z-index-base);
  }

  &_scroll-flag {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 12px;
    background: linear-gradient(to left, var(--m78-color-border), transparent);

    &.__start {
      left: 0;
      right: auto;
      transform: rotate(180deg);
    }

    &.__isVertical {
      left: 0;
      right: 0;
      width: auto;
      height: 12px;
      background: linear-gradient(to top, var(--m78-color-border), transparent);
      bottom: 0;
      top: auto;

      &.__start {
        top: 0;
        bottom: auto;
      }
    }
  }

  &_tabs-wrap {
    position: relative;

    ::-webkit-scrollbar {
      display: none;
    }

    &::after {
      position: absolute;
      content: '';
      height: 2px;
      width: 100%;
      background-color: var(--m78-color-border);
      bottom: 0;
      left: 0;
    }
  }

  &_cont {
    margin-top: 12px;
  }

  &_start-ctrl,
  &_end-ctrl {
    position: absolute;
    top: 50%;
    font-size: 24px;
    cursor: pointer;
    transform: translateY(-50%);
    color: var(--m78-color-second);
    z-index: var(--m78-z-index-base);

    @include effect-font;
  }

  &_start-ctrl {
    left: -28px;
  }

  &_end-ctrl {
    right: -28px;
  }
}
