@import '../../style/index';

.m78-tab {
  background-color: $component-background;

  &.__flexible {
    .m78-tab_tabs-item {
      flex: 1 0 auto;
    }
  }

  &.__left, &.__right {
    display: flex;

    .m78-tab_tabs {
      flex-direction: column;
      border-bottom: none;
      margin-bottom: 0;
    }

    .m78-tab_cont {
      flex: 1;
    }

    .m78-tab_tabs::after {
      top: 0;
      bottom: 0;
      width: 2px;
      height: auto;
    }

    .m78-tab_line {
      top: 0;
      bottom: auto;
      width: 2px;
    }

    .m78-tab_tabs-item {
      width: 100%;
    }

    &.__flexible .m78-tab_tabs-item {
      flex: none;
    }

    &.__hasPage .m78-tab_tabs {
      padding: 30px 0;
    }

    .m78-tab_page-ctrl {
      width: 100%;
      height: 30px;

      .anticon {
        transform: rotate(90deg);
      }
    }

    .m78-tab_page-ctrl.__left {
      top: 0;
      box-shadow: 0 3px 4px $b-border;
    }

    .m78-tab_page-ctrl.__right {
      bottom: 0;
      box-shadow: 0 -3px 4px $b-border;
    }
  }

  &.__left {
    .m78-tab_tabs {
      margin-right: 12px;
      align-items: flex-end;
    }

    .m78-tab_tabs::after {
      right: 0;
      left: auto;
    }

    .m78-tab_line {
      right: 0;
      left: auto;
    }

    .m78-tab_tabs-item {
      justify-content: flex-end;
    }
  }

  &.__right {
    flex-direction: row-reverse;

    .m78-tab_tabs {
      margin-left: 12px;
    }

    .m78-tab_tabs::after {
      left: 0;
      right: auto;
    }

    .m78-tab_line {
      right: auto;
      left: 0;
    }

    .m78-tab_tabs-item {
      justify-content: flex-start;
    }

    .m78-tab_page-ctrl.__left {
      top: 0;
      box-shadow: 0 3px 4px $b-border;
    }

    .m78-tab_page-ctrl.__right {
      bottom: 0;
      box-shadow: 0 -3px 4px $b-border;
    }
  }

  &.__bottom {
    display: flex;
    flex-direction: column-reverse;

    .m78-tab_tabs {
      margin-top: 12px;
      margin-bottom: 0;
    }

    .m78-tab_tabs::after {
      top: 0;
      bottom: auto;
    }

    .m78-tab_cont {
      flex: 1;
    }

    .m78-tab_line {
      top: 0;
      bottom: auto;
    }

    &.__hasPage {
      .m78-tab_tabs {
        padding: 2px 24px 0;
      }
    }
  }

  &.__small {

    .m78-tab_tabs-item {
      height: 32px;
      padding: 0 12px;
    }
  }

  &.__large {

    .m78-tab_tabs-item {
      height: 48px;
      padding: 0 20px;
    }
  }

  &_tabs {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    overflow: hidden;
    padding-bottom: 2px;

    &::after {
      position: absolute;
      content: '';
      height: 2px;
      width: 100%;
      background-color: $b-border;
      bottom: 0;
      left: 0;
    }
  }

  &_tabs-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    text-align: center;
    position: relative;
    height: 40px;
    user-select: none;
    padding: 0 16px;
    cursor: pointer;

    &.__disabled {
      color: $b-disable !important;
      cursor: not-allowed;
    }

    &.__active {
      color: $color;
      font-weight: bold;
    }
  }

  &.__hasPage {
    .m78-tab_tabs {
      padding: 0 24px 2px;
    }
  }

  &_page-ctrl {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 24px;

    @include effect-bg;

    &.__left {
      left: 0;
      box-shadow: 3px 0 4px $b-border;
    }

    &.__right {
      right: 0;
      box-shadow: -3px 0 4px $b-border;
    }
  }

  &_line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 12px;
    background-color: $color;
    z-index: $z-index-base;
  }

  &_cont-item {

  }
}
