@import '~@m78/style';

.column {
  display: inline-block;
  width: 200px;
  margin-right: 12px;
  border-radius: var(--m78-border-radius);
  border: 6px solid var(--m78-pure);
  box-shadow: var(--m78-shadow-1);
  margin-bottom: 12px;
  user-select: none;

  &Title {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    cursor: move;
  }

  &List {
    padding: 4px 8px 120px;
    height: 300px;
    overflow: auto;
    background-color: var(--m78-component-bg);
    border-radius: 4px;
    box-shadow: -1px -1px 6px var(--m78-color-border) inset;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.todo {
  box-shadow: var(--m78-shadow-1);
  padding: 8px 16px;
  font-size: 16px;
  user-select: none;
  border-radius: 2px;
  cursor: grab;

  > div:nth-child(2) {
    font-size: 12px;
    color: var(--m78-color-second);
  }

  &:hover {
    box-shadow: var(--m78-shadow-3);
  }

  & + & {
    margin-top: 10px;
  }
}
