@import '~@m78/style/index';

.grid {
  width: 100%;
  border: 1px solid #999;
}

.gridItem {
  cursor: grab;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  border: 1px solid #999;
  font-size: 30px;
  font-weight: bold;

  &::after {
    float: left;
    content: '';
    padding-top: 100%;
  }
}
