@import 'node_modules/@lxjx/sass-base/main';

.dndBox {
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  border: 6px solid $b-second;
  cursor: grab;

  > span {
    pointer-events: none;
  }

  &:global(.__left) {
    border-left: 6px solid blue;
  }

  &:global(.__top) {
    border-top: 6px solid blue;
  }

  &:global(.__right) {
    border-right: 6px solid blue;
  }

  &:global(.__bottom) {
    border-bottom: 6px solid blue;
  }
}
