@import "../../style/index";

.fr-action-sheet_wrap {
  background-color: transparent !important;
  padding: 0 !important;
  max-height: 78% !important;
  pointer-events: none;
}

.fr-action-sheet {
  margin: 0 auto;
  width: 100%;
  border-radius: 24px 24px 0 0;
  text-align: center;
  padding: 0;
  background-color: $component-background;
  overflow: hidden;
  max-width: $sm;
  pointer-events: auto;

  &.__custom {
    .fr-action-sheet_item-cont {
      max-height: 100vh;
      overflow-y: hidden;
      padding: 0 12px 12px;
    }
  }

  &_item {
    padding: 18px;
    font-size: $fs-16;
    background-color: #fff;
    user-select: none;

    &.__active {
      color: $blue-6;
    }

    &.__disabled {
      color: $b-disable;
    }

    &.__title, &.__cancel {
      padding: 20px;
      color: $b-title;
    }

    &.__title {
      display: flex;
      padding: 28px 18px;
      padding-bottom: 16px;

      >button {
        flex: 0 0 auto;
        font-size: 17px;
      }
      >div {
        flex: 1;
        font-size: 18px;
      }
    }

    &.__confirm {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.__cancel {
      font-size: 18px;
    }
  }

  &_item-cont {
    background-color: #fff;
    max-height: 60vh;
    overflow-y: auto;
    .fr-hb-t:nth-child(n+2)::before {
      left: 12px;
      right: 12px;
    }
  }

  &_desc {
    color: $b-second;
    font-size: 14px;
    margin-top: 4px;
  }

  &_check {
    margin-left: 8px;
  }
}
