@import '../../style/index';

.m78-action-sheet {
  margin: 0 auto;
  width: 100%;
  border-radius: 32px 32px 0 0;
  text-align: center;
  background-color: var(--m78-component-bg);
  overflow: hidden;
  max-width: $sm;
  max-height: 78% !important;
  box-shadow: var(--m78-shadow-1);

  &_item {
    padding: 18px;
    font-size: var(--m78-fs-md);
    background-color: var(--m78-component-bg);
    user-select: none;

    &.__active {
      font-weight: bold;
      color: var(--m78-color) !important;
    }

    &.__highlight {
      color: var(--m78-color-warn);
    }

    &.__disabled {
      color: var(--m78-color-disable);
    }

    &.__title,
    &.__cancel {
      padding: 20px;
      color: var(--m78-color-title);
    }

    &.__title {
      display: flex;
      align-items: center;
      padding: 18px 18px 16px;

      > button {
        flex: 0 0 auto;
        font-size: 17px;
      }
      > div {
        flex: 1;
        font-size: 18px;
      }
    }

    &.__confirm {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.__cancel {
      font-size: 18px;
    }
  }

  &_item-cont {
    max-height: 60vh;
    overflow-y: auto;
    .m78-hb-t:nth-child(n + 2)::before {
      left: 12px;
      right: 12px;
    }
  }

  &_desc {
    color: var(--m78-color-second);
    color: var(--m78-color-second);
    font-size: 14px;
    margin-top: 4px;
    font-weight: 400;
  }

  &_check {
    margin-left: 8px;
  }
}
