@import '../../style/index';

.m78-action-sheet {
  margin: 0 auto;
  width: 100%;
  border-radius: 32px 32px 0 0;
  text-align: center;
  background-color: $component-background;
  overflow: hidden;
  max-width: $sm;
  max-height: 78% !important;
  box-shadow: $shadow-1;

  &_item {
    padding: 18px;
    font-size: $fs-16;
    background-color: #fff;
    user-select: none;

    &.__active {
      font-weight: bold;
      color: $color !important;
    }

    &.__highlight {
      color: $color-warn;
    }

    &.__disabled {
      color: $b-disable;
    }

    &.__title,
    &.__cancel {
      padding: 20px;
      color: $b-title;
    }

    &.__title {
      display: flex;
      align-items: center;
      padding: 18px 18px 16px;

      > button {
        flex: 0 0 auto;
        font-size: 17px;
      }
      > div {
        flex: 1;
        font-size: 18px;
      }
    }

    &.__confirm {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.__cancel {
      font-size: 18px;
    }
  }

  &_item-cont {
    background-color: #fff;
    max-height: 60vh;
    overflow-y: auto;
    .m78-hb-t:nth-child(n + 2)::before {
      left: 12px;
      right: 12px;
    }
  }

  &_desc {
    color: $b-second;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 400;
  }

  &_check {
    margin-left: 8px;
  }
}
