@import '../../style/index';

.fr-empty {
  padding: 16px;
  text-align: center;
  line-height: $line-height-base;

  &.__small {
    .fr-empty_icon, .fr-empty_icon > svg {
      height: 48px;
      width: auto;
    }

    .fr-empty_desc,
    .fr-empty_actions {
      font-size: $fs-12;
    }
  }

  &.__large {
    .fr-empty_icon, .fr-empty_icon > svg {
      height: 80px;
      width: auto;
    }

    .fr-empty_desc,
    .fr-empty_actions {
      font-size: $fs-16;
    }
  }

  &_icon, &_icon > svg{
    height: 64px;
    width: auto;
  }

  &_desc {
    color: $b-second;
    font-size: $fs-14;
    margin-top: 4px;
  }

  &_actions {
    margin-top: 4px;
    font-size: $fs-14;
  }
}
