@import '../../style/index';

$colors: rgba($color-info, 0.95) rgba($color-warn, 0.5) rgba($color-error, 0.95)
  rgb($color-success, 0.5);

.m78-spin {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  line-height: 1;
  vertical-align: middle;
  margin: 0 8px;

  &.__inline {
    flex-direction: row;
    .m78-spin_text {
      margin-left: 8px;
      margin-top: 0;
    }
  }

  &.__full {
    @include full;

    justify-content: center;
    position: absolute;
    background-color: var(--m78-mask);
    margin: 0;
    z-index: var(--m78-z-index);
  }

  &.__small .m78-spin_unit-wrap {
    font-size: $size-small;
    height: $size-small;
  }

  &.__large .m78-spin_unit-wrap {
    font-size: $size-large;
  }

  &.__big .m78-spin_unit-wrap {
    font-size: $size-big;
  }
}

.m78-spin_text {
  font-size: var(--m78-fs);
  color: var(--m78-color-second);
  margin-left: 0;
  margin-top: 8px;
  user-select: none;

  &:empty {
    display: none;
  }
}

.m78-spin_unit {
  position: absolute;
  left: 0.3em;
  width: 0.4em;
  height: 1em;
  background-color: red;
  border: 1px solid #000;

  &-wrap {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: $size-default;
  }

  &:nth-child(1) {
    background-color: nth($colors, 1);
    transform: rotate(45deg);
    border-radius: 160px 14px;
    animation: m78-spin_unit1 2s infinite linear reverse;
    z-index: 1;
    box-shadow: 2px 2px 12px inset rgba(255,255,255,0.5);
  }

  &:nth-child(2) {
    background-color: nth($colors, 2);
    transform: rotate(90deg);
    border-radius: 14px 160px;
    animation: m78-spin_unit2 2s infinite linear reverse;
  }

  &:nth-child(3) {
    background-color: nth($colors, 3);
    transform: rotate(135deg);
    border-radius: 160px 14px;
    animation: m78-spin_unit3 2s infinite linear reverse;
    z-index: 1;
    box-shadow: 2px 2px 12px inset rgba(255,255,255,0.5);
  }

  &:nth-child(4) {
    background-color: nth($colors, 4);
    border-radius: 14px 160px;
    transform: rotate(180deg);
    animation: m78-spin_unit4 2s infinite linear reverse;
  }
}

.m78-spin_ellipsis {
  position: absolute;
  &::after {
    content: '';
    display: inline-block;
    animation: m78-spin_ellipsis 1s infinite;
  }
}

@keyframes m78-spin_ellipsis {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

@keyframes m78-spin_unit1 {
  0% {
    transform: rotate(45deg)
  }

  100% {
    transform: rotate(405deg);
  }
}

@keyframes m78-spin_unit2 {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(450deg);
  }
}

@keyframes m78-spin_unit3 {

  0% {
    transform: rotate(135deg);
  }

  100% {
    transform: rotate(495deg);
  }
}

@keyframes m78-spin_unit4 {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(540deg);
  }
}
