.wrap {
  display: inline-flex;
  width: 140px;
  height: 140px;
}

.box {
  position: absolute;
  display: flex;
  align-items: center;justify-content: center;
  border: 2px solid var(--m78-color);
  font-size: 16px;
  width: 120px;
  height: 120px;
  border-radius: var(--m78-border-radius);
}


.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 70%;
  border: 1px solid var(--m78-color-border);
  font-size: 32px;
  text-align: center;
  padding: 40px 0;

  & + & {
    margin-top: 24px;
  }
}

.title {
  position: absolute;
  left: 12px;
  top: 12px;
  padding: 2px 4px;
  background-color: var(--m78-color);
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
}

.desc {
  position: absolute;
  right: 12px;
  bottom: 12px;
  color: var(--m78-color-second);
  font-size: 12px;

  :global {
    span + span {
      margin-left: 12px;
    }
  }
}
