
.modal {
  //width: 360px;
  min-height: 240px;
  padding: 24px;
}

.customArrow {
  :global(.m78-overlay_arrow-graphical) {
    stroke: red;
  }
}

.list {
  width: 120px;
  padding: 8px 0;
}

.listItem {
  height: 44px;
  line-height: 44px;
  text-align: center;
}
