@import '../../style/index';

.m78-modal-base {
  position: fixed;
  left: 0;
  top: 0;
  padding: 28px;
  background-color: #fff;
  transform-origin: left top;
}

.m78-modal-base_calc-node {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
}

.card {
  border: 4px dashed red;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(#000, 0.45);
  background-color: #fff;
}
