@import '../../style/index';

.fr-choice {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: $line-height-base;
  user-select: none;

  &_hidden-check {
    appearance: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &.__focus {
    .fr-choice_ctrl {
      background-color: rgba($color, 0.2);
    }
  }

  &.__checked {
    .fr-choice_ctrl-inner {
      transform: scale3d(1, 1, 1);
    }
  }

  &.__disabled {
    cursor: not-allowed;
    color: $b-disable;

    .fr-choice_ctrl-main {
      border-color: $b-disable !important;
    }
    .fr-choice_ctrl-inner {
      background-color: $b-disable !important;
    }
    .fr-choice_ctrl {
      background-color: transparent !important;
    }
  }

  &_ctrl {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 2px;
    transition: background-color 0.6s;

    &:hover {
      background-color: rgba($color, 0.1);
    }

    &:active {
      background-color: transparent !important;
    }

    .fr-effect-ripple {
      margin: auto;
      background: rgba($color, 0.2) !important;
      //transition: 0.3s ease-out !important;
    }
  }

  &_ctrl-main {
    position: relative;
    margin: auto;
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid $color;
    border-radius: 50%;
    z-index: 1;
  }

  &_ctrl-inner {
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: $color;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    transform: scale3d(0, 0, 1);
    transition: transform 0.1s;
  }
}
