@import '../common/style/sass';

.m78-overlay {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 60px;
  min-height: 24px;
  background: var(--m78-component-bg);
  border: 1px solid var(--m78-gray-4);
  transform-origin: center;
  box-shadow: var(--m78-shadow-1-b);
  border-radius: var(--m78-border-radius-md);

  &_wrap {
    position: fixed;
    left: 0;
    top: 0;
  }

  &_arrow {
    position: absolute;
    color: var(--m78-color);
    transform-origin: center;
    filter: drop-shadow(0px -4px 3px var(--m78-color-divider-b));

    &-graphical {
      fill: var(--m78-component-bg);
      stroke: var(--m78-gray-4);
    }
  }

  &.__rightEnd {
    transform-origin: left bottom;
  }

  &.__right {
    transform-origin: left;
  }

  &.__rightStart {
    transform-origin: left top;
  }

  &.__topEnd {
    transform-origin: right bottom;
  }

  &.__top {
    transform-origin: bottom;
  }

  &.__topStart {
    transform-origin: left bottom;
  }

  &.__leftEnd {
    transform-origin: right bottom;
  }

  &.__left {
    transform-origin: right;
  }

  &.__leftStart {
    transform-origin: right top;
  }

  &.__bottomEnd {
    transform-origin: right top;
  }

  &.__bottom {
    transform-origin: top;
  }

  &.__bottomStart {
    transform-origin: left top;
  }
}

.m78-overlay_calc-node {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;
}
