.layoutWrap {
  & + & {
    margin-top: 12px;
  }
}

.layoutWrapBorder {
  padding: var(--m78-space-2);
  border: 1px solid var(--m78-color-border);

  & + & {
    margin-top: 12px;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--m78-border-radius);
  background: var(--m78-color-border);
  min-height: 46px;
  height: 100%;
}
