@import '../../style/index';

.m78-page-header {
  position: relative;
  background-color: var(--m78-component-bg);
  z-index: var(--m78-z-index);
  border: 1px solid var(--m78-color-border);

  /* 需要固定左右宽度 */
  &.__center {
    .m78-page-header_main {
      text-align: center;
    }

    .m78-page-header_title {
      display: block;
      margin-right: 0;
    }
  }

  &.__shadow {
    box-shadow: var(--m78-shadow-1-b);
  }

  &.__border {
    box-shadow: none;
  }

  &.__color {
    background-color: var(--m78-color);
  }

  &.__white {
    color: rgba(255, 255, 255, 0.95);

    .anticon {
      color: rgba(255, 255, 255, 0.95);
    }

    .m78-page-header_desc {
      color: rgba(255, 255, 255, 0.85);
    }

    .m78-page-header_bottom {
      border-top: 1px solid rgba(255, 255, 255, 0.65);
    }
  }

  &.__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &_bar {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 var(--m78-space-2);
    line-height: 1;

    .anticon {
      font-size: 18px;
      cursor: pointer;
    }
  }

  &_main {
    font-size: 17px;
    font-weight: bold;
    margin: 0 var(--m78-space-3);
    flex: 1;
    white-space: nowrap;
    line-height: 1.1;

    @include ellipsis-x;
  }

  &_title {
    margin-right: 10px;
  }

  &_desc {
    font-size: 14px;
    font-weight: 400;
    color: var(--m78-color-second);
  }

  &_leading {
    display: flex;
    align-items: center;
    text-align: left;
  }

  &_actions {
    text-align: right;
  }

  &_bottom {
    padding: var(--m78-space-3);
    border-top: 1px solid var(--m78-color-border);
  }
}
