$border-color: var(--m78-gray-5);
$border: 1px solid $border-color;
$bg-highlight: var(--m78-gray-2);
$high1-z-index: 10;
$high2-z-index: 20;
$high3-z-index: 30;

.m78-table {
  position: relative;
  user-select: none;
  font-size: var(--m78-fs);
  line-height: 1.2;
  box-sizing: border-box;
  outline: $border;

  > * {
    box-sizing: border-box;
  }

  &_expand-size {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &_view {

  }

  &_view-content {
    position: relative;
    overflow: hidden; // ZOOM: #2 scale后内容大于容器时, 容器的scrollWidth会被撑开, 需要设置隐藏来放置此行为
  }

  &.__stripe {
    .m78-table_cell.__even-y {
      background-color: $bg-highlight;
    }
  }

  &_cell {
    position: absolute;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    border-right: $border;
    border-bottom: $border;
    background-color: var(--m78-component-bg);
    overflow: hidden;

    // 奇偶标记

    &.__even-y {
    }

    &.__even-x {
    }

    // 表头标记

    &.__head-x, &.__head-y {
      background-color: $bg-highlight; // 防止表头出现斑马纹
    }

    &.__head-y {
      font-weight: 600;
    }

    &.__head-x {
      justify-content: center;
      text-align: center;
      font-size: 12px;
    }

    // 固定项信息

    &.__fixed {
      z-index: $high1-z-index;
    }

    &.__cross-fixed {
      z-index: $high2-z-index;
    }

    // ## 在固定项中的特殊位置

    // 左固定末尾行
    &.__lf-last {
      //border-right: 2px solid $border-color;
    }

    // 下固定末尾行
    &.__tf-last {
      //border-bottom: 2px solid $border-color;
    }

    // 右固定首列
    &.__rf-first {
      border-left: 1px solid $border-color;
    }

    // 下固定首行
    &.__bf-first {
      border-top: 1px solid $border-color;
    }

    // 普通列和固定列右侧末尾列
    &.__last-x {
      border-right: none;
    }

    // 普通行和固定行下方末尾行
    &.__last-y {
      border-bottom: none;
    }

    // ## 选中
    &.__selected {
      &::after {
        pointer-events: none;
        content: "";
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        background: var(--m78-color-opacity-sm);
      }
    }
  }

  &_default-scroll {
    overflow: auto;
    overscroll-behavior: none;
  }

  // ## 滚动标记样式

  &_scroll-mark {
    content: "";
    position: absolute;
    transition: opacity .2s;
    pointer-events: none;
    opacity: 0;

    &.__left {
      width: 8px;
      height: 100%;
      top: 0;
      background: linear-gradient(90deg, var(--m78-color-border-b), rgba(0, 0, 0, 0));
      border-radius: 0 12px 12px 0;
    }

    &.__right {
      width: 8px;
      height: 100%;
      top: 0;
      background: linear-gradient(-90deg, var(--m78-color-border-b), rgba(0, 0, 0, 0));
      border-radius: 12px 0 0 12px;
    }

    &.__top {
      height: 8px;
      width: 100%;
      left: 0;
      background: linear-gradient(180deg, var(--m78-color-border-b), rgba(0, 0, 0, 0));
      border-radius: 0 0 12px 12px;
    }

    &.__bottom {
      height: 8px;
      width: 100%;
      left: 0;
      background: linear-gradient(0, var(--m78-color-border-b), rgba(0, 0, 0, 0));
      border-radius: 12px 12px 0 0;
    }
  }
}
