$border-color: var(--m78-gray-4);
$border: 1px solid $border-color;
$bg-highlight: var(--m78-gray-2); // 斑马纹等高亮格的背景色
$scroll-flag: rgba(0, 0, 0, 0.12); // 可滚动标记
$high1-z-index: 10;
$high2-z-index: 20;
$high3-z-index: 30;

.m78-table {
  position: relative;
  user-select: none;
  -webkit-user-select: none; // 2023年了, safari还要加前缀, 真有你的
  font-size: var(--m78-fs);
  line-height: 1.2;
  box-sizing: border-box;
  border: $border;
  touch-action: none;
  height: 100%;
  outline-offset: 3px;

  &:focus {
    outline-color: transparent !important;
  }

  > * {
    box-sizing: border-box;
  }

  &_expand-size {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &_view {

  }

  &_view-content {
    position: relative;
  }

  &.__stripe {
    .m78-table_cell.__even-y {
      background-color: $bg-highlight;
    }
  }

  &_cell {
    position: absolute;
    padding: 2px 4px;
    display: flex;
    align-items: flex-start;
    border-right: $border;
    border-bottom: $border;
    background-color: var(--m78-component-bg);
    overflow: hidden;
    word-break: break-all;

    // 搭配 align-items: flex-start; 使自己在超出高度时上对齐, 其他情况下居中
    > * {
      margin-top: auto;
      margin-bottom: auto;
    }

    // 奇偶标记

    &.__even-y {
    }

    &.__even-x {
    }

    // 表头标记

    &.__head-x, &.__head-y {
      background: $bg-highlight; // 防止表头出现斑马纹
    }

    &.__head-y {
      font-weight: 600;
    }

    &.__head-x {
      justify-content: center;
      text-align: center;
      font-size: 12px;
    }

    // 固定项信息

    &.__fixed {
      z-index: $high1-z-index;
    }

    &.__cross-fixed {
      z-index: $high2-z-index;
    }

    // ## 在固定项中的特殊位置

    // 左固定末尾行
    &.__lf-last {
      //border-right: 2px solid $border-color;
    }

    // 下固定末尾行
    &.__tf-last {
      //border-bottom: 2px solid $border-color;
    }

    // 右固定首列
    &.__rf-first {
      border-left: 1px solid $border-color;
    }

    // 下固定首行
    &.__bf-first {
      border-top: 1px solid $border-color;
    }

    // 普通列和固定列右侧末尾列
    &.__last-x {
      border-right: none;
    }

    // 普通行和固定行下方末尾行
    &.__last-y {
      border-bottom: none;
    }

    // ## 选中
    &.__selected, &.__disabled  {
      &::after {
        content: "";
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
      }
    }

    &.__selected {
      &::after {
        background-color: var(--m78-color-opacity-sm);
      }
    }

    // ## 禁用
    &.__disabled {
      &::after {
        background-color: var(--m78-color-primary-rv);
        cursor: not-allowed;
      }
    }
  }

  &_default-scroll {
    overflow: auto;
    overscroll-behavior: none;
  }

  // ## 滚动标记样式

  &_scroll-mark {
    content: "";
    position: absolute;
    transition: opacity .2s;
    pointer-events: none;
    opacity: 0;

    &.__left {
      width: 8px;
      height: 100%;
      top: 0;
      background: linear-gradient(90deg, $scroll-flag, rgba(0, 0, 0, 0));
      border-radius: 0 12px 12px 0;
    }

    &.__right {
      width: 8px;
      height: 100%;
      top: 0;
      background: linear-gradient(-90deg, $scroll-flag, rgba(0, 0, 0, 0));
      border-radius: 12px 0 0 12px;
    }

    &.__top {
      height: 8px;
      width: 100%;
      left: 0;
      background: linear-gradient(180deg, $scroll-flag, rgba(0, 0, 0, 0));
      border-radius: 0 0 12px 12px;
    }

    &.__bottom {
      height: 8px;
      width: 100%;
      left: 0;
      background: linear-gradient(0, $scroll-flag, rgba(0, 0, 0, 0));
      border-radius: 12px 12px 0 0;
    }
  }


  // ## 提示线

  &_tip-line-x {
    display: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    border-left: 3px solid var(--m78-color);
  }

  &_tip-line-y {
    display: none;
    pointer-events: none;
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 3px solid var(--m78-color);
  }

  //  ## 空节点

  &_empty {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--m78-fs-md);
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--m78-component-bg);
    pointer-events: none;
    visibility: hidden;
  }

  // ## 隐藏
  &_hide-expand {
    position: absolute;
    cursor: pointer;
    z-index: $high1-z-index;

    &.__default {
      line-height: 0.6;
      font-size: 14px;
      border-radius: var(--m78-border-radius);
      text-align: center;
      background-color: var(--m78-component-bg);
      border: 1px solid var(--m78-color-border);
      height: 12px;
      width: 12px;
    }
  }

  // ## 高亮
  &_highlight {
    animation: m78-table-highlight 2s;
  }

  // ## 拖拽
  &_drag-area-x, &_drag-area-y {
    position: absolute;
    cursor: move;
    z-index: $high3-z-index;
    background-color: var(--m78-color-divider);
    visibility: hidden;
    pointer-events: none;
  }

  &_drag-area-x {
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
  }

  &_drag-area-y {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
  }

  &_drag-line-x, &_drag-line-y {
    position: absolute;
    left: 0;
    top: 0;
    z-index: $high3-z-index;
    visibility: hidden;
    pointer-events: none;
  }

  &_drag-line-x {
    border-top: 3px double var(--m78-color);
    width: 100%;
    height: 0;
  }

  &_drag-line-y {
    border-left: 3px double var(--m78-color);
    height: 100%;
    width: 0;
  }

  // ## 编辑
  &_edit-attach {
    position: absolute;
    background-color: var(--m78-component-bg);
    border: 2px solid var(--m78-color);;
  }
}


@keyframes m78-table-highlight {
  10% {
    background-color: var(--m78-color-2);
  }
}
