@import '../../common/style/sass';

.m78-form {
  &_field {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    outline-offset: 8px;
    outline-color: var(--m78-color-opacity-lg) !important;

    &.__vertical {
      .m78-form_label {
        width: 100%;
        line-height: 1;
        padding: 2px 0 4px;
      }

      .m78-form_cont {
        width: 100%;
      }

      .m78-form_tips {
        padding-top: 4px;
        min-height: 20px;
      }
    }

    &.__horizontal {
      .m78-form_label {
        justify-content: flex-end;
        padding-top: 10px;
        margin-right: 8px;
        line-height: 1.1;
        font-size: 13px;
        width: 80px;
      }

      .m78-form_tips {
        padding-top: 4px;
        min-height: 22px;
      }
    }
  }

  &_label,
  &_extra,
  &_leading,
  &_trailing {
    &:empty {
      display: none;
    }
  }

  &_label {
    position: relative;
    display: flex;
  }

  &_cont {
    flex: 1;
    line-height: 1.1;
    word-break: break-all;
  }

  &_extra {
    color: var(--m78-color-second);
    padding-top: 6px;
  }

  &_required {
    position: relative;
    display: inline-block;
    color: var(--m78-color-error);
    font-weight: bold;
    line-height: 1;
    margin-left: var(--m78-space-1);
    cursor: pointer;
    user-select: none;
    vertical-align: middle;

    &.__fixed {
      font-size: 1em;
      position: absolute;
      right: -0.2em;
      top: -0.3em;
    }
  }

  &_info {
    margin-left: var(--m78-space-1);
    font-size: 1.3em;
    vertical-align: middle;

    @include effect-opacity;
  }

  &_main {
    position: relative;
    display: flex;
    align-items: center;
  }

  &_widget {
    flex: 1;
  }

  &_leading {
    margin-right: var(--m78-space-2);
  }

  &_trailing {
    margin-left: var(--m78-space-2);
  }

  &_bubble {
    border-radius: var(--m78-border-radius) !important;
  }

  &_bubble-error {
    padding: 2px 8px;
  }

  &_bubble-extra {
    padding: 8px 12px;
  }

  &_tip-trigger {
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 0;
    width: 0;
  }
}
