@import '~@m78/style/index';

:global {
  ::placeholder {
    color: red;
  }
}

.nestBox {
  padding: 16px;
  border: 1px solid var(--m78-color-second);
  border-radius: 2px;
  margin-bottom: 16px;

  &:global(.__active) {
    background-color: rgba(var(--m78-color), 0.4);
  }
}
