@import '~@lxjx/sass-base/main';

.nestBox {
  padding: 16px;
  border: 1px solid $b-second;
  border-radius: 2px;
  margin-bottom: 16px;

  &:global(.__active) {
    background-color: rgba($color, 0.4);
  }
}
