@import '~@lxjx/sass-base/main';

.grid {
  position: relative;
  border: 1px solid #999;
}

.gridItem {
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: grab;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  font-size: 30px;
  font-weight: bold;
}
