@import 'sass-vars';

// --------------------- 可见 ---------------------
.m78.hide, .m78 .hide {
  display: none;
}

.m78.show, .m78 .show {
  display: block;
}

.m78.visible, .m78 .visible {
  visibility: visible;
}

.m78.hidden, .m78 .visible {
  visibility: hidden;
}

.m78.opacity-0, .m78 .visible {
  opacity: 0;
}

.m78.opacity-1, .m78 .opacity-1 {
  opacity: 1;
}

// --------------------- 布局 ---------------------
.m78.float-right, .m78 .float-right {
  float: right;
}

.m78.float-left, .m78 .float-left {
  float: left;
}

.m78.clearfix, .m78 .clearfix {
  @include clearfix;
}

.m78.center-block, .m78 .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.m78.psr, .m78 .psr {
  position: relative;
}

.m78.psa, .m78 .psa {
  position: absolute;
}

// 微调位置
.m78.move-t1, .m78 .move-t1 {
  position: relative;
  top: -1px;
}

.m78.move-t2, .m78 .move-t2 {
  position: relative;
  top: -2px;
}

.m78.move-t3, .m78 .move-t3 {
  position: relative;
  top: -3px;
}

.m78.move-b1, .m78 .move-b1 {
  position: relative;
  bottom: -1px;
}

.m78.move-b2, .m78 .move-b2 {
  position: relative;
  bottom: -2px;
}

.m78.move-b3, .m78 .move-b3 {
  position: relative;
  bottom: -3px;
}

// --------------------- 颜色 ---------------------
.m78.color-red, .m78 .color-red {
  color: var(--m78-red-6);
}

.m78.color-orange, .m78 .color-orange {
  color: var(--m78-orange-6);
}

.m78.color-yellow, .m78 .color-yellow {
  color: var(--m78-yellow-6);
}

.m78.color-green, .m78 .color-green {
  color: var(--m78-green-6);
}

.m78.color-cyan, .m78 .color-cyan {
  color: var(--m78-cyan-6);
}

.m78.color-blue, .m78 .color-blue {
  color: var(--m78-blue-6);
}

.m78.color-purple, .m78 .color-purple {
  color: var(--m78-purple-6);
}

.m78.bg-red, .m78 .bg-red {
  background-color: var(--m78-red-6);
}

.m78.bg-orange, .m78 .bg-orange {
  background-color: var(--m78-orange-6);
}

.m78.bg-yellow, .m78 .bg-yellow {
  background-color: var(--m78-yellow-6);
}

.m78.bg-green, .m78 .bg-green {
  background-color: var(--m78-green-6);
}

.m78.bg-cyan, .m78 .bg-cyan {
  background-color: var(--m78-cyan-6);
}

.m78.bg-blue, .m78 .bg-blue {
  background-color: var(--m78-blue-6);
}

.m78.bg-purple, .m78 .bg-purple {
  background-color: var(--m78-purple-6);
}


// --------------------- 尺寸 --------------------- //

.m78.h-1em, .m78 .h-1em {
  height: 1em;
}

.m78.h-0d8em, .m78 .h-0d8em {
  height: 0.8em;
}

.m78.h-1d2em, .m78 .h-1d2em {
  height: 1.2em;
}

.m78.h-1d4em, .m78 .h-1d4em {
  height: 1.4em;
}

.m78.w-60, .m78 .w-60 {
  width: 60px;
}

.m78.w-80, .m78 .w-80 {
  width: 80px;
}

.m78.w-100, .m78 .w-100 {
  width: 100px;
}

.m78.w-120, .m78 .w-120 {
  width: 120px;
}

.m78.w-140, .m78 .w-140 {
  width: 140px;
}

.m78.w-160, .m78 .w-160 {
  width: 160px;
}

.m78.w-180, .m78 .w-180 {
  width: 180px;
}

.m78.w-200, .m78 .w-200 {
  width: 200px;
}

.m78.w-300, .m78 .w-300 {
  width: 300px;
}

.m78.w-400, .m78 .w-400 {
  width: 400px;
}

.m78.w-500, .m78 .w-500 {
  width: 500px;
}

.m78.w-20p, .m78 .w-20p {
  width: 20%;
}

.m78.w-25p, .m78 .w-25p {
  width: 25%;
}

.m78.w-33p, .m78 .w-33p {
  width: 33.3333%;
}

.m78.w-50p, .m78 .w-50p {
  width: 50%;
}

.m78.w-100p, .m78 .w-100p {
  width: 100%;
}

.m78.w-1em, .m78 .w-1em {
  width: 1em;
}

.m78.w-0d8em, .m78 .w-0d8em {
  width: 0.8em;
}

.m78.w-1d2em, .m78 .w-1d2em {
  width: 1.2em;
}

.m78.w-1d4em, .m78 .w-1d4em {
  width: 1.4em;
}

// --------------------- 文字 --------------------- //
// 性质
.m78.ellipsis, .m78 .ellipsis {
  @include ellipsis-x;
}

.m78.ellipsis-2, .m78 .ellipsis-2 {
  @include ellipsis-x(2);
}

.m78.fw, .m78 .fw {
  font-weight: var(--m78-fw);
}

.m78.fw-md, .m78 .fw-md {
  font-weight: var(--m78-fw-md);
}

.m78.bold, .m78 .bold {
  font-weight: var(--m78-fw-bold);
}

.m78.lh-0, .m78 .lh-0 {
  line-height: 0;
}

.m78.lh-1, .m78 .lh-1 {
  line-height: 1;
}

.m78.lh-base, .m78 .lh-base {
  line-height: var(--m78-line-height);
}

.m78.lh-2, .m78 .lh-2 {
  line-height: 2;
}



.m78.tl, .m78 .tl {
  text-align: left;
}

.m78.tc, .m78 .tc {
  text-align: center;
}

.m78.tr, .m78 .tr {
  text-align: right;
}

.m78.vm, .m78 .vm {
  vertical-align: middle;
}

.m78.vt, .m78 .vt {
  vertical-align: top;
}

// 颜色
.m78.color-title, .m78 .color-title {
  color: var(--m78-color-title);
}

.m78.color-primary, .m78 .color-primary {
  color: var(--m78-color-primary);
}

.m78.color-second, .m78 .color-second {
  color: var(--m78-color-second);
}

.m78.color-disabled, .m78 .color-disabled {
  color: var(--m78-color-disable);
}

.m78.color-border, .m78 .color-border {
  color: var(--m78-color-border);
}

.m78.color-divider, .m78 .color-divider {
  color: var(--m78-color-divider);
}

.m78.color-bg, .m78 .color-bg {
  color: var(--m78-color-bg);
}

.m78.color-title-w, .m78 .color-title-w {
  color: var(--m78-color-title-w);
}

.m78.color-primary-w, .m78 .color-primary-w {
  color: var(--m78-color-primary-w);
}

.m78.color-second-w, .m78 .color-second-w {
  color: var(--m78-color-second-w);
}

.m78.color-disabled-w, .m78 .color-disabled-w {
  color: var(--m78-color-disable-w);
}

.m78.color-border-w, .m78 .color-border-w {
  color: var(--m78-color-border-w);
}

.m78.color-divider-w, .m78 .color-divider-w {
  color: var(--m78-color-divider-w);
}

.m78.color-bg, .m78 .color-bg {
  color: var(--m78-color-bg);
}

.m78.color, .m78 .color {
  color: var(--m78-color-6);
}

.m78.color-l, .m78 .color-l {
  color: var(--m78-color-4);
}

.m78.color-d, .m78 .color-d {
  color: var(--m78-color-8);
}

.m78.color-sub, .m78 .color-sub {
  color: var(--m78-color-sub-6);
}

.m78.color-sub-l, .m78 .color-sub-l {
  color: var(--m78-color-sub-4);
}

.m78.color-sub-d, .m78 .color-sub-d {
  color: var(--m78-color-sub-8);
}

.m78.color-info, .m78 .color-info {
  color: var(--m78-color-info);
}

.m78.bg-info, .m78 .bg-info {
  background-color: var(--m78-color-info);
}
.m78.color-success, .m78 .color-success {
  color: var(--m78-color-success);
}

.m78.bg-success, .m78 .bg-success {
  background-color: var(--m78-color-success);
}

.m78.color-warn, .m78 .color-warn {
  color: var(--m78-color-warn);
}

.m78.bg-warn, .m78 .bg-warn {
  background-color: var(--m78-color-warn);
}

.m78.color-error, .m78 .color-error {
  color: var(--m78-color-error);
}

.m78.bg-error, .m78 .bg-error {
  background-color: var(--m78-color-error);
}

// 文字大小

.m78.fs-sm, .m78 .fs-sm {
  font-size: var(--m78-fs-sm);
}

.m78.fs, .m78 .fs {
  font-size: var(--m78-fs);
}

.m78.fs-md, .m78 .fs-md {
  font-size: var(--m78-fs-md);
}

.m78.fs-lg, .m78 .fs-lg {
  font-size: var(--m78-fs-lg);
}

.m78.fs-12, .m78 .fs-12 {
  font-size: 12px;
}

.m78.fs-14, .m78 .fs-14 {
  font-size: 14px;
}

.m78.fs-16, .m78 .fs-16 {
  font-size: 16px;
}

.m78.fs-18, .m78 .fs-18 {
  font-size: 18px;
}

.m78.fs-20, .m78 .fs-20 {
  font-size: 20px;
}

.m78.fs-22, .m78 .fs-22 {
  font-size: 22px;
}

.m78.fs-24, .m78 .fs-24 {
  font-size: 24px;
}

.m78.fs-28, .m78 .fs-28 {
  font-size: 28px;
}

.m78.fs-32, .m78 .fs-32 {
  font-size: 32px;
}

.m78.fs-36, .m78 .fs-36 {
  font-size: 36px;
}

.m78.fs-40, .m78 .fs-40 {
  font-size: 40px;
}

// 内外边距类 //
.m78.m-4, .m78 .m-4 {
  margin: 4px;
}

.m78.mt-4, .m78 .mt-4 {
  margin-top: 4px;
}

.m78.mr-4, .m78 .mr-4 {
  margin-right: 4px;
}

.m78.ml-4, .m78 .ml-4 {
  margin-left: 4px;
}

.m78.mb-4, .m78 .mb-4 {
  margin-bottom: 4px;
}

.m78.mtb-4, .m78 .mtb-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.m78.mlr-4, .m78 .mlr-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.m78.m-8, .m78 .m-8 {
  margin: 8px;
}

.m78.mt-8, .m78 .mt-8 {
  margin-top: 8px;
}

.m78.mr-8, .m78 .mr-8 {
  margin-right: 8px;
}

.m78.ml-8, .m78 .ml-8 {
  margin-left: 8px;
}

.m78.mb-8, .m78 .mb-8 {
  margin-bottom: 8px;
}

.m78.mtb-8, .m78 .mtb-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.m78.mlr-8, .m78 .mlr-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.m78.m-12, .m78 .m-12 {
  margin: 12px;
}

.m78.mt-12, .m78 .mt-12 {
  margin-top: 12px;
}

.m78.mr-12, .m78 .mr-12 {
  margin-right: 12px;
}

.m78.ml-12, .m78 .ml-12 {
  margin-left: 12px;
}

.m78.mb-12, .m78 .mb-12 {
  margin-bottom: 12px;
}

.m78.mtb-12, .m78 .mtb-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.m78.mlr-12, .m78 .mlr-12 {
  margin-left: 12px;
  margin-right: 12px;
}

// -
.m78.m-16, .m78 .m-16 {
  margin: 16px;
}

.m78.mt-16, .m78 .mt-16 {
  margin-top: 16px;
}

.m78.mr-16, .m78 .mr-16 {
  margin-right: 16px;
}

.m78.ml-16, .m78 .ml-16 {
  margin-left: 16px;
}

.m78.mb-16, .m78 .mb-16 {
  margin-bottom: 16px;
}

.m78.mtb-16, .m78 .mtb-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m78.mlr-16, .m78 .mlr-16 {
  margin-left: 16px;
  margin-right: 16px;
}

// -
.m78.m-24, .m78 .m-24 {
  margin: 24px;
}

.m78.mt-24, .m78 .mt-24 {
  margin-top: 24px;
}

.m78.mr-24, .m78 .mr-24 {
  margin-right: 24px;
}

.m78.ml-24, .m78 .ml-24 {
  margin-left: 24px;
}

.m78.mb-24, .m78 .mb-24 {
  margin-bottom: 24px;
}

.m78.mtb-24, .m78 .mtb-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m78.mlr-24, .m78 .mlr-24 {
  margin-left: 24px;
  margin-right: 24px;
}

// -
.m78.m-32, .m78 .m-32 {
  margin: 32px;
}

.m78.mt-32, .m78 .mt-32 {
  margin-top: 32px;
}

.m78.mr-32, .m78 .mr-32 {
  margin-right: 32px;
}

.m78.ml-32, .m78 .ml-32 {
  margin-left: 32px;
}

.m78.mb-32, .m78 .mb-32 {
  margin-bottom: 32px;
}

.m78.mtb-32, .m78 .mtb-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.m78.mlr-32, .m78 .mlr-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.m78.p-8, .m78 .p-8 {
  padding: 8px;
}

.m78.pt-8, .m78 .pt-8 {
  padding-top: 8px;
}

.m78.pr-8, .m78 .pr-8 {
  padding-right: 8px;
}

.m78.pl-8, .m78 .pl-8 {
  padding-left: 8px;
}

.m78.pb-8, .m78 .pb-8 {
  padding-bottom: 8px;
}

.m78.ptb-8, .m78 .ptb-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m78.plr-8, .m78 .plr-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.m78.p-12, .m78 .p-12 {
  padding: 12px;
}

.m78.pt-12, .m78 .pt-12 {
  padding-top: 12px;
}

.m78.pr-12, .m78 .pr-12 {
  padding-right: 12px;
}

.m78.pl-12, .m78 .pl-12 {
  padding-left: 12px;
}

.m78.pb-12, .m78 .pb-12 {
  padding-bottom: 12px;
}

.m78.ptb-12, .m78 .ptb-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.m78.plr-12, .m78 .plr-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.m78.p-16, .m78 .p-16 {
  padding: 16px;
}

.m78.p-16, .m78 .p-16 {
  padding-top: 16px;
}

.m78.pr-16, .m78 .pr-16 {
  padding-right: 16px;
}

.m78.pl-16, .m78 .pl-16 {
  padding-left: 16px;
}

.m78.pb-16, .m78 .pb-16 {
  padding-bottom: 16px;
}

.m78.pb-16, .m78 .pb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m78.p-16, .m78 .p-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.m78.p-24, .m78 .p-24 {
  padding: 24px;
}

.m78.p-24, .m78 .p-24 {
  padding-top: 24px;
}

.m78.p-24, .m78 .p-24 {
  padding-right: 24px;
}

.m78.p-24, .m78 .p-24 {
  padding-left: 24px;
}

.m78.pb-24, .m78 .pb-24 {
  padding-bottom: 24px;
}

.m78.ptb-24, .m78 .ptb-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.m78.plr-24, .m78 .plr-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.m78.p-32, .m78 .p-32 {
  padding: 32px;
}

.m78.pt-32, .m78 .pt-32 {
  padding-top: 32px;
}

.m78.pr-32, .m78 .pr-32 {
  padding-right: 32px;
}

.m78.pl-32, .m78 .pl-32 {
  padding-left: 32px;
}

.m78.pb-32, .m78 .pb-32 {
  padding-bottom: 32px;
}

.m78.ptb-32, .m78 .ptb-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.m78.plr-32, .m78 .plr-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.m78.divide-8, .m78 .divide-8 {
  height: 8px;
}

.m78.divide-16, .m78 .divide-16 {
  height: 16px;
}

.m78.divide-24, .m78 .divide-24 {
  height: 24px;
}

.m78.divide-32, .m78 .divide-32 {
  height: 32px;
}

.m78.divide-40, .m78 .divide-40 {
  height: 40px;
}

.m78.divide-48, .m78 .divide-48 {
  height: 48px;
}

// -------------------- 装饰 -------------------- //
.m78.radius, .m78 .radius {
  border-radius: var(--m78-border-radius);
}

// 阴影
.m78.shadow-0, .m78 .shadow-0 {
  box-shadow: none;
}

.m78.shadow-1, .m78 .shadow-1 {
  box-shadow: var(--m78-shadow-1);
}

.m78.shadow-2, .m78 .shadow-2 {
  box-shadow: var(--m78-shadow-2);
}

.m78.shadow-3, .m78 .shadow-3 {
  box-shadow: var(--m78-shadow-3);
}

// --------------------- 图片 --------------------- //
// 圆形图片
.m78.circle-img, .m78 .circle-img {
  border-radius: 50%;
  border: 1px solid var(--m78-color-border);
  overflow: hidden;
}

// --------------------- 边框 --------------------- //
.m78.border, .m78 .border {
  border: 1px solid var(--m78-color-border);
}

.m78.border-t, .m78 .border-t {
  border-top: 1px solid var(--m78-color-border);
}

.m78.border-r, .m78 .border-r {
  border-right: 1px solid var(--m78-color-border);
}

.m78.border-b, .m78 .border-b {
  border-bottom: 1px solid var(--m78-color-border);
}

.m78.border-l, .m78 .border-l {
  border-left: 1px solid var(--m78-color-border);
}

// --------------------- 交互 ---------------------
.m78.no-select, .m78 .no-select {
  user-select: none;
}

// 扩大交互区
.m78.expand, .m78 .expand {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -30%;
    top: -30%;
    right: -30%;
    bottom: -30%;
  }
}

.m78.effect-shadow, .m78 .effect-shadow {
  @include effect-shadow;
}

.m78.effect-bg, .m78 .effect-bg {
  @include effect-bg;
}

.m78.effect-border, .m78 .effect-border {
  @include effect-border;
}

.m78.effect-opacity, .m78 .effect-opacity {
  @include effect-opacity;
}

.m78.effect-scale, .m78 .effect-scale {
  @include effect-scale;
}

.m78.effect-font-color, .m78 .effect-font-color {
  @include effect-font-color;
}

.m78.active-effect, .m78 .active-effect {
  animation: m78-active-effect ease-out 1.2s;
}

.m78.active-effect-infinite, .m78 .active-effect-infinite {
  animation: m78-active-effect ease-out 1.2s infinite;
}


.m78.cus-p, .m78 .cus-p {
  cursor: pointer;
}

.m78.cus-na, .m78 .cus-na {
  cursor: not-allowed;
}
