.grid {
  margin-top: 24px;
  border-top: 1px solid var(--m78-color-border);
  border-left: 1px solid var(--m78-color-border);
}

.gridItem {
  border-right: 1px solid var(--m78-color-border);
  border-bottom: 1px solid var(--m78-color-border);

  display: flex;
  align-items: center;
  justify-content: center;
}
