@import '../../style/index';

.m78-context-menu {
  border: 1px solid var(--m78-color-border);
  border-radius: var(--m78-border-radius-md);
  background-color: var(--m78-component-bg);
  min-width: 220px;
  box-shadow: var(--m78-shadow-1-b-focus);

  &_item {
    user-select: none;
    padding: 10px var(--m78-space-3);

    &.__disabled {
      background-color: var(--m78-color-divider) !important;
      color: var(--m78-color-disable);
      cursor: not-allowed;
    }
    @include effect-bg;

    .m78-tile_desc,
    .m78-tile_trailing {
      color: var(--m78-color-second);
    }
  }

  & + .m78-popper_arrow {
    display: none;
  }
}
