.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 200px;
  padding: 20px;
  border: 4px dashed rgb(251, 97, 97);
  box-shadow: rgb(97, 251, 246) 0 0 0 6px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}
