@import '../../common/style/sass';

// 增加样式权重
.m78 .m78-dialog {
  padding: 20px 24px;
  border-radius: var(--m78-border-radius-lg);
  border: 1px solid var(--m78-color-border);
  width: 100vw;
  overflow: hidden;
}

.m78-dialog {
  &_close-icon {
    position: absolute !important;
    right: 12px;
    top: 12px;
    cursor: pointer;
    text-shadow: var(--m78-stress-shadow-w);
    font-size: var(--m78-fs-sm) !important;

    &:hover {
      font-weight: bold;
    }
  }

  &_status-warp {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 50%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }

  &_status {
    position: absolute;
    left: -22px;
    bottom: -51px;
    font-size: 96px;
    margin-right: 12px;
    opacity: 0.6;
    pointer-events: none;
  }

  &_title {
    color: var(--m78-color-title);
    font-size: 18px;
  }

  &_cont {
    position: relative;
    padding: 0 12px 16px;
    margin: 8px -12px;  // 为Input等组件腾出空间, 防止交互效果被遮挡
    font-size: 14px;
    max-height: 70vh;
    min-height: 58px;
    overflow: auto;
  }

  &_footer {
    position: relative;
    text-align: right;

    &.__full {
      display: flex;
      .m78-btn {
        flex: 1;
      }
    }
  }
}
