@import '../../style/index';

.m78-close-icon {
  transform: scaleY(0.9) scaleX(1) !important;
  color: var(--m78-color-primary);
}

//.m78-mask {
//  backdrop-filter: blur(4px);
//}

/*  ============= 所有组件共享的样式 ============= */
@media (min-width: $sm) {
  .m78-scroll-bar {
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: var(--m78-color-second);
      min-height: 70px;
      min-width: 70px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--m78-color-primary);
    }

    ::-webkit-scrollbar-thumb:active {
      background: var(--m78-color-primary);
    }
  }
}

/* 滚动条尺寸大于10时启用 */
.m78-scrollbar {
  &::-webkit-scrollbar {
    position: relative;
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--m78-color-disable);
    min-height: 70px;
    min-width: 70px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--m78-color-second);
  }

  &::-webkit-scrollbar-thumb:active {
    background: var(--m78-color-primary);
  }

  &.__hover {
    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
}
