@import '../../style/index';

@media (min-width: $sm){
  .fr-scroll-bar {
    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: #9e9e9e;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #878787;
    }

    ::-webkit-scrollbar-thumb:active {
      background: #717171;
    }
  }
}
