@import '../../style/index';

.m78-close-icon {
  transform: scaleY(0.9) scaleX(1) !important;
  color: $b-primary;
}

/*  ============= 所有组件共享的样式 ============= */
@media (min-width: $sm) {
  .m78-scroll-bar {
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 6px;
      //background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: $b-disable;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: $b-second;
    }

    ::-webkit-scrollbar-thumb:active {
      background: $b-second;
    }
  }
}
