@import '../../style/index';

$unitSpace: 8px;

/* 生成状态色配置 */
@mixin statusColor($_color_) {
  border-color: $_color_;

  &.__focus {
    box-shadow: 0 0 0 3.8px rgba($_color_, 0.2);
  }

  &:not(.__disabled):hover {
    border-color: $_color_;
  }

  &:not(.__disabled):not(.__readonly):active {
    border-color: $_color_;
    box-shadow: 0 0 0 3px rgba($_color_, 0.5);
  }
}

.fr-input {
  position: relative;
  flex: 1;
  appearance: none;
  margin: 0;
  display: inline-block;
  width: 100%;
  outline: none;
  border: none;
  color: #000000;
  background-color: transparent;
  @include ellipsis-x;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  //&:not([type='file']) {
  //  top: -1px; /* 视觉居中 */
  //}

  &:disabled {
    color: $b-disable;
    cursor: not-allowed;
  }

  @include placeholder;

  &_wrap {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: $size-default;
    width: 100%;
    border: 1px solid $b-border;
    border-radius: $border-radius;
    padding: 0 10px;
    font-size: 16px;
    line-height: 1;
    overflow: hidden;
    max-width: $md;
    transition: $animation-duration-base box-shadow, $animation-duration-base border-color;
    transition-delay: 0s;

    /* 各种状态的处理 */
    &:not(.__disabled):hover {
      border-color: $color;
    }

    &:not(.__disabled):not(.__readonly):active {
      border-color: $color;
      box-shadow: 0 0 0 3px rgba($color, 0.5);
      transition-delay: 0.1s;
    }

    &.__readonly {
      border-style: dashed;
    }

    &.__focus {
      border-color: $color;
      box-shadow: 0 0 0 3.8px rgba($color, 0.2);
    }

    &.__disabled {
      background-color: $grey-4;
      cursor: not-allowed;
      border-style: dashed;
    }

    &.__matter {
      input {
        font-family: $font-variant-base;
        font-weight: bold;
      }

      input::placeholder {
        font-weight: 400;
      }
    }

    &.__textarea {
      padding: 0;
      height: auto !important;
      line-height: 1.4;

      textarea {
        padding: 10px;
        min-height: 3em; /* 退级 */
        min-height: calc(20px + 2em * 1.4);
        white-space: normal !important;
        word-break: break-all;
      }

      .fr-input_tip-text {
        position: absolute;
        right: 8px;
        bottom: 8px;
        text-shadow: $stress-shadow-w;
        user-select: none;
        pointer-events: none;
      }

      .fr-input_icon-clear {
        position: absolute;
        right: 4px;
        top: 4px;
        text-shadow: $stress-shadow-w;
      }

      .fr-input_loading:not(.__full) {
        position: absolute;
        right: 10px;
      }
    }

    /* 尺寸 */
    &.__small {
      height: $size-small;
      font-size: 14px;
      .fr-input_suffix,
      .fr-input_prefix {
        font-size: 12px;
      }
    }

    &.__large {
      height: $size-large;
      font-size: 20px;

      .fr-input_suffix,
      .fr-input_prefix {
        font-size: 16px;
      }
    }

    &.__big {
      height: $size-big;
      font-size: 28px;

      .fr-input {
        letter-spacing: 2px;
      }

      .fr-input_suffix,
      .fr-input_prefix {
        font-size: 24px;
      }
    }

    /* 状态色 */
    &.__info {
      @include statusColor($color-info);
    }

    &.__success {
      @include statusColor($color-success);
    }

    &.__warning {
      @include statusColor($color-warn);
    }

    &.__error {
      @include statusColor($color-error);
    }

    &.__not-border,
    &.__underline {
      border-color: transparent !important;
      //border-radius: 0;
      border-bottom-width: 2px;
    }

    &.__underline {
      border-bottom-color: $color !important;

      &.__info {
        border-bottom-color: $color-info !important;
      }

      &.__success {
        border-bottom-color: $color-success !important;
      }

      &.__warning {
        border-bottom-color: $color-warn !important;
      }

      &.__error {
        border-bottom-color: $color-error !important;
      }
    }
  }

  &_loading {
    font-size: 14px !important;
    margin: 0;
    margin-left: $unitSpace;
  }

  &_icon {
    font-size: 18px;
    cursor: pointer;
    margin-left: $unitSpace;
    color: $b-second;

    &:hover {
      color: $b-primary;
    }

    &:active {
      color: $b-title;
    }
  }

  &_search-icon {
    .fr-icon {
      font-size: 24px !important;
    }
    margin-left: $unitSpace - 4; /* 按钮原本就有空白，稍微减少不至于突兀 */
  }

  &_tip-text {
    line-height: 1;
    font-size: 12px;
    margin-left: $unitSpace;
    color: $b-second;
  }

  &_prefix,
  &_suffix {
    user-select: none;
    white-space: nowrap;
    font-size: 14px;
    color: $grey-8;
  }

  &_prefix {
    margin-right: $unitSpace;
  }

  &_suffix {
    margin-left: $unitSpace;
  }

  &_suffix-btn,
  &_prefix-btn {
    height: 100%; // 退级
    //height: calc(100% - 6px);
    right: -10px;
    padding: 0 12px;
  }

  &_prefix-btn {
    left: -10px;
    right: auto;
  }

  &_group {
    position: relative;
    display: flex;
    align-items: center;

    & + & {
      margin-top: 12px;
    }

    .fr-input_wrap + .fr-input_wrap {
      margin-left: 10px;
    }
  }
}
