@import '../../style/index';

$unitSpace: 8px;

/* 生成状态色配置 */
@mixin statusColor($_color_) {
  border-color: $_color_;

  &.__focus {
    box-shadow: 0 0 0 3.8px rgba($_color_, 0.2);
  }

  &:not(.__disabled):hover {
    border-color: $_color_;
  }

  &:not(.__disabled):not(.__readonly):active {
    border-color: $_color_;
    box-shadow: 0 0 0 3px rgba($_color_, 0.5);
  }
}

.m78-input {
  position: relative;
  flex: 1;
  appearance: none;
  margin: 0;
  display: inline-block;
  width: 100%;
  outline: none;
  border: none;
  color: var(--m78-color-title);
  background-color: transparent;
  line-height: var(--m78-line-height);
  @include ellipsis-x;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  //&:not([type='file']) {
  //  top: -1px; /* 视觉居中 */
  //}

  &:disabled {
    color: var(--m78-color-disable);
    cursor: not-allowed;
  }

  @include placeholder;

  &_wrap {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: var(--m78--unit-size);
    width: 100%;
    border: 1px solid var(--m78-color-border);
    border-radius: var(--m78-border-radius);
    padding: 0 10px;
    font-size: 16px;
    line-height: 1;
    overflow: hidden;
    //max-width: $sm;
    transition: var(--m78-animate-base) box-shadow, var(--m78-animate-base) border-color;
    transition-delay: 0s;

    /* 各种状态的处理 */
    &:not(.__disabled):hover {
      border-color: var(--m78-color);
    }

    &:not(.__disabled):not(.__readonly):active {
      border-color: var(--m78-color);
      box-shadow: 0 0 0 3px var(--m78-color-opacity-md);
      transition-delay: 0.1s;
    }

    &.__readonly {
      border-style: dashed;
    }

    &.__focus {
      border-color: var(--m78-color);
      box-shadow: 0 0 0 3.8px var(--m78-color-opacity-sm);
    }

    &.__disabled {
      background-color: var(--m78-gray-4);
      cursor: not-allowed;
    }

    &.__matter {
      input {
        font-weight: bold;
      }

      input::placeholder {
        font-weight: 400;
      }
    }

    &.__textarea {
      padding: 0;
      height: auto !important;
      line-height: 1.4;

      textarea {
        padding: 10px;
        min-height: calc(20px + 2em * 1.4);
        white-space: normal !important;
        word-break: break-all;
      }

      .m78-input_tip-text {
        position: absolute;
        right: 8px;
        bottom: 8px;
        text-shadow: var(--m78-stress-shadow-w);
        user-select: none;
        pointer-events: none;
      }

      .m78-input_icon-clear {
        position: absolute;
        right: 4px;
        top: 4px;
        text-shadow: var(--m78-stress-shadow-w);
      }

      .m78-input_loading:not(.__full) {
        position: absolute;
        right: 10px;
      }
    }

    /* 尺寸 */
    &.__small {
      height: var(--m78--unit-size-small);
      font-size: 14px;
      padding: 0 6px;
      .m78-input_suffix,
      .m78-input_prefix {
        font-size: 12px;
      }
    }

    &.__large {
      height: var(--m78--unit-size-large);
      font-size: 20px;

      .m78-input_suffix,
      .m78-input_prefix {
        font-size: 16px;
      }
    }

    &.__big {
      height: var(--m78--unit-size-big);
      font-size: 28px;

      .m78-input {
        letter-spacing: 2px;
      }

      .m78-input_suffix,
      .m78-input_prefix {
        font-size: 24px;
      }
    }

    /* 状态色 */
    &.__info {
      @include statusColor(#40a9ff);
    }

    &.__success {
      @include statusColor(#73d13d);
    }

    &.__warning {
      @include statusColor(#ffa940);
    }

    &.__error {
      @include statusColor(#ff4d4f);
    }

    &.__not-border,
    &.__underline {
      border-color: transparent !important;
      //border-radius: 0;
      border-bottom-width: 2px;
    }

    &.__underline {
      border-bottom-color: var(--m78-color-border) !important;

      &:focus-within {
        border-bottom-color: var(--m78-color-border) !important;
      }

      &.__info {
        border-bottom-color: var(--m78-color-info) !important;
      }

      &.__success {
        border-bottom-color: var(--m78-color-success) !important;
      }

      &.__warning {
        border-bottom-color: var(--m78-color-warn) !important;
      }

      &.__error {
        border-bottom-color: var(--m78-color-error) !important;
      }
    }
  }

  &_loading {
    font-size: 14px !important;
    margin: 0;
    margin-left: $unitSpace;
  }

  &_icon {
    font-size: 18px;
    cursor: pointer;
    margin-left: $unitSpace;
    color: var(--m78-color-second);

    &:hover {
      color: var(--m78-color-primary);
    }

    &:active {
      color: var(--m78-color-title);
    }
  }

  &_search-icon {
    .anticon {
      font-size: 20px !important;
    }
    margin-left: $unitSpace - 4; /* 按钮原本就有空白，稍微减少不至于突兀 */
  }

  &_tip-text {
    line-height: 1;
    font-size: 12px;
    margin-left: $unitSpace;
    color: var(--m78-color-second);
  }

  &_prefix,
  &_suffix {
    user-select: none;
    white-space: nowrap;
    font-size: 14px;
    color: #666666;
  }

  &_prefix {
    margin-right: $unitSpace;
  }

  &_suffix {
    margin-left: $unitSpace;
  }

  &_suffix-btn,
  &_prefix-btn {
    height: 100%; // 退级
    //height: calc(100% - 6px);
    right: -10px;
    padding: 0 12px;
    border-radius: 0;
  }

  &_prefix-btn {
    left: -10px;
    right: auto;
  }

  &_group {
    position: relative;
    display: flex;
    align-items: center;

    & + & {
      margin-top: 12px;
    }

    .m78-input_wrap + .m78-input_wrap {
      margin-left: 10px;
    }
  }
}
