@import '../../common/style/sass';

.m78-auth {
  &_popper {
    .m78-result {
      margin: 0;
    }
    .m78-result_cont {
      padding: 0;
    }
    .m78-result_icon {
      display: none;
    }
    .m78-result_btns {
      margin-top: 12px;
    }
    .m78-result_btns .m78-btn {
      width: auto;
    }
  }
}

.m78-auth-pro {
  &_desc {
    display: flex;
    justify-content: center;
    line-height: var(--m78-line-height);
    color: var(--m78-color-primary);
    text-align: left;
  }
}
