@import '../../style/index';

.m78-auth {
  &_popper {
    .m78-result {
      margin: 0;
    }
    .m78-result_cont {
      padding: 0;
    }
    .m78-result_icon {
      display: none;
    }
    .m78-result_btns {
      margin-top: 12px;
    }
    .m78-result_btns .m78-btn {
      width: auto;
    }
  }
}
