@import '../../common/style/sass';

.m78-list-view {
  display: flex;
  flex-wrap: wrap;

  &.__small {
    .m78-list-view_item,
    .m78-list-view_title {
      padding: var(--m78-space-2) var(--m78-space-3);
    }

    .m78-tile_title {
      font-size: 15px;
    }

    .m78-list-view_title {
      font-size: 20px;
    }

    .m78-list-view_title.__sub-title {
      font-size: 16px;
      margin-top: 12px;
    }

    .m78-tile_leading {
      font-size: 18px;
      margin-right: var(--m78-space-1);
    }
  }

  &.__large {
    .m78-list-view_item,
    .m78-list-view_title {
      padding: var(--m78-space-4) var(--m78-space-6);
    }

    .m78-tile_title {
      font-size: 20px;
    }

    .m78-tile_desc {
      font-size: 16px;
    }

    .m78-list-view_title {
      font-size: 28px;
    }

    .m78-list-view_title.__sub-title {
      font-size: 20px;
    }

    .m78-tile_leading {
      font-size: 24px;
    }
  }

  &.__border {
    border: 1px solid var(--m78-color-border);
    border-radius: var(--m78-border-radius);
    padding: 4px;
  }

  &.__split-line {
    .m78-list-view_item + .m78-list-view_item::before {
      position: absolute;
      top: -0.5px;
      left: 1%;
      content: '';
      height: 1px;
      width: 98%;
      transform: scaleY(0.5);
      background-color: var(--m78-color-border);
    }
  }

  &.__item-border {
    .m78-list-view_item {
      border: 1px solid var(--m78-color-border);
      margin: 4px;
    }
  }

  &.__effect {
    .m78-list-view_item {
      @include effect-bg;
    }
  }

  &_item {
    width: 100%;
    position: relative;
    line-height: var(--m78-line-height);
    font-size: var(--m78-fs);
    color: var(--m78-color-primary);
    text-align: left;
    padding: var(--m78-space-3) var(--m78-space-4);
    border-radius: var(--m78-border-radius);

    &.__disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    .m78-tile_leading {
      font-size: 20px;
    }

    .m78-tile_title {
      font-size: 17px;
    }

    .m78-tile_desc {
      color: var(--m78-color-second);
    }

    .m78-tile_trailing {
      color: var(--m78-color-second);
      font-size: 14px;
    }

    &_arrow {
      margin-left: var(--m78-space-2);
      color: var(--m78-color-disable);
    }

    &_foot {
      margin-top: 8px;
    }
  }

  &_title {
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    padding: var(--m78-space-3) var(--m78-space-5);

    &.__sub-title {
      font-size: 16px;
      margin-top: 12px;
    }

    &-desc {
      font-size: var(--m78-fs);
      color: var(--m78-color-second);
    }
  }
}
