@import '../../style/index';

.fr-select {
  .fr-input_prefix {
    z-index: 1000;
  }

  &.__multiple {
    height: auto;
    flex-wrap: wrap;
    min-height: 32px;

    .fr-btn {
      box-shadow: none !important;
      border: 1px dashed $b-second;
      cursor: auto;
      margin: 4px 8px 4px 0;
      padding-right: 24px;

      > span {
        overflow: hidden;
      }
    }

    .fr-input_prefix {
      width: 100%;
    }

    .fr-select_tags {
      flex-wrap: wrap;
    }

    .fr-input {
      min-width: 30%;
      align-self: stretch;
    }
  }

  &_popper {
    & + .fr-popper_arrow {
      display: none;
    }
  }

  &_list {
    .fr-empty {
      padding: 8px 12px;
    }
  }

  &_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $space-12;
    cursor: pointer;
    user-select: none;
    @include ellipsis-x;
    background-color: $component-background;
    overflow-y: auto;

    &:hover {
      background-color: $color-1;
    }

    &:active {
      background-color: rgba($color-2, 0.5);
    }

    &.__title, &.__divider, &.__disabled {
      background-color: $component-background !important;
      cursor: auto;
    }

    &.__active {
      background-color: $color-2;
    }

    &.__title {
      font-size: $fs-12;
      color: $b-second;
    }

    &.__divider {
      height: 1px;
    }

    &.__disabled {
      color: $b-disable;
      cursor: not-allowed;
    }

  }

  &_check-icon {
    color: $color;
  }

  &_tags {
    display: flex;
  }

  &_close-btn {
    position: absolute;
    right: 6px;
    background-color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin-left: 6px;
    color: $b-second;
    transform: scale(0.9) translateY(-1px);
    //position: absolute;
    //right: -6px;
    //top: -6px;
    //width: 16px;
    //height: 16px;
    //vertical-align: middle;
    //font-size: 16px;
    //background-color: $color;
    //border-radius: 50%;
    //color: #fff;
  }
}
