.__dumi-default-navbar {
  display: none !important;
}

.__dumi-default-menu-header .__dumi-default-menu-logo {
  width: 120px !important;
  height: 120px !important;
  background-position: center !important;
}

.__dumi-default-menu {
  background-color: #fff !important;
}

.__dumi-default-menu:after {
  display: none !important;
}

.__dumi-default-menu-inner .__dumi-default-menu-list > li > a.active {
  background: #e6fffb !important;
}

.__dumi-default-menu-inner > ul ul a.active,
.__dumi-default-menu-inner ul li a:hover,
.__dumi-default-menu-inner ul li a.active {
  color: #13c2c2 !important;
}

.__dumi-default-menu-inner ul li a::before {
  background: #13c2c2 !important;
}

.__dumi-default-previewer-demo {
  max-width: 888px;
}

.__dumi-default-menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.__dumi-default-menu::-webkit-scrollbar-track {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.__dumi-default-menu::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #9e9e9e;
}

.__dumi-default-menu::-webkit-scrollbar-thumb:hover {
  background: #878787;
}

.__dumi-default-menu::-webkit-scrollbar-thumb:active {
  background: #717171;
}
