body {
  background-color: #fff !important;
}

/* 兼容黑暗模式 */

html[data-theme="dark"] .__dumi-default-code-block {
  filter: invert(1);
}

html[data-theme="dark"] .markdown *:not(pre) code {
  filter: invert(1);
  border-radius: var(--m78-border-radius);
}

html[data-theme="dark"] .__dumi-default-icon {
  filter: invert(1);
}

html[data-theme="dark"]  .__dumi-default-search-input {
  filter: invert(1);
}

.__dumi-default-search-input {
  transition: none !important;
}

.__dumi-default-previewer {
  border: 1px solid var(--m78-color-disable) !important;
}

.__dumi-default-previewer-actions {
  border-top: 1px solid var(--m78-color-disable) !important;
}

.__dumi-default-previewer-source {
  border-top: 1px solid var(--m78-color-disable) !important;
}

h1, h2, h3, h4, h5, h6, .__dumi-default-navbar-logo, .__dumi-default-navbar nav > a {
  color: var(--m78-color-title) !important;
}

.__dumi-default-navbar nav > a.active {
  color: inherit !important;
}

.markdown {
  color: var(--m78-color-primary) !important;
}

.markdown p {
  color: var(--m78-color-primary) !important;
}

.__dumi-default-menu-inner ul li a span {
  color: var(--m78-color-primary) !important;
}

.__dumi-default-menu-inner ul li a.active span {
  color: inherit !important;
}

.__dumi-default-menu-inner .__dumi-default-menu-list > li > a {
  color: var(--m78-color-title) !important;
}

.__dumi-default-layout, .__dumi-default-navbar, .__dumi-default-layout-toc, .__dumi-default-menu {
  background-color: var(--m78-body-bg) !important;
}

.__dumi-default-code-block {
  border: 1px solid var(--m78-color-border);
  border-radius: var(--m78-border-radius);
}

/* 其他覆盖样式 */

.__dumi-default-navbar {
  z-index: var(--m78-z-index) !important;
  border-bottom: 1px solid var(--m78-color-border);
}

.__dumi-default-layout-toc {
  display: none;
}

.__dumi-default-menu-header .__dumi-default-menu-logo {
  width: 120px !important;
  height: 120px !important;
  background-position: center !important;
}

.__dumi-default-menu:after {
  display: none !important;
}

.__dumi-default-menu-inner .__dumi-default-menu-list > li > a.active {
  background: var(--m78-color-divider) !important;
}

.__dumi-default-menu-inner > ul ul a.active,
.__dumi-default-menu-inner ul li a:hover,
.__dumi-default-menu-inner ul li a.active {
  color: #13c2c2 !important;
}

.__dumi-default-menu-inner ul li a::before {
  background: #13c2c2 !important;
}

.__dumi-default-previewer-demo {
  max-width: 888px;
}

.__dumi-default-menu-inner::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

.__dumi-default-menu-inner::-webkit-scrollbar-track {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.__dumi-default-menu-inner::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #9e9e9e;
}

.__dumi-default-menu-inner::-webkit-scrollbar-thumb:hover {
  background: #878787;
}

.__dumi-default-menu-inner::-webkit-scrollbar-thumb:active {
  background: #717171;
}
