.__dumi-default-menu-header .__dumi-default-menu-logo {
  width: 120px !important;
  height: 120px !important;
  background-position: center !important;
}

.__dumi-default-menu {
  background-color: #fff !important;
}

.__dumi-default-menu:after {
  display: none !important;
}
