@import '../../style/index';

.m78-article-box {
  position: relative;
  line-height: 1.5;
  overflow: hidden;
  background-color: var(--m78-body-bg);
  color: var(--m78-color-primary);
  word-break: break-word;

  table,
  img,
  video,
  audio,
  pre,
  iframe {
    max-width: 100%;
  }

  table {
    overflow: auto;
  }

  &_html {
    position: relative;
  }

  &_watermark {
    position: absolute;
    width: 100%;
    top: -260px;
    color: var(--m78-color-divider);
    font-size: 24px;
    line-height: 240px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
  }

  &_watermark_item {
    display: flex;
    justify-content: space-around;
    transform: rotate(-30deg);

    span:nth-child(2n - 1) {
      position: relative;
      transform: translateY(-26%);
    }
  }
}
