.H300BorderBox {
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px;
  font-size: 16px;
}

.MyTab {
  width: 365px;
  border: 1px solid #eee;
  line-height: 1.3;

  :global(.m78-tab_tabs) {
    box-shadow: 0 -1px 4px rgba(0,0,0,0.2);
  }

  :global(.m78-tab_tabs-item) {
    padding-top: 4px !important;
  }
}

.TextBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
