@import '../../style/index';

.m78-result {
  display: flex;
  position: relative;
  margin: 12px 0;
  z-index: var(--m78-z-index);
  background-color: var(--m78-component-bg);

  &.__fixed {
    position: fixed;
    z-index: var(--m78-z-index-drawer);
    overflow: auto;

    @include full;
  }

  &_cont {
    padding: 16px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    max-width: $md;
  }

  &_icon {
    font-size: 90px;
    margin-bottom: 12px;
    line-height: 1;

    .m78-spin {
      font-size: 50px;
    }

    &.__waiting {
      .m78-svg-icon {
        animation: m78-spin 2s 1.5s infinite forwards ease;
      }
    }
  }

  &_status-img {
    font-size: 200px;
  }

  &_title {
    font-size: var(--m78-fs-lg);
    margin-bottom: 8px;
    color: var(--m78-color-title);
  }

  &_desc {
    font-size: var(--m78-fs);
    color: var(--m78-color-second);
    line-height: 1.15;
  }

  &_btns {
    margin-top: 24px;

    .m78-btn {
      width: 100px;
    }

    .m78-btn + .m78-btn {
      margin-left: 16px !important;
    }
  }

  &_extra {
    padding: 12px;
    margin: 24px 0 0;
    border-radius: var(--m78-border-radius);
    background-color: var(--m78-component-bg);
    line-height: 1.3;
    text-align: left;
  }
}

@keyframes m78-result-waiting {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
